[submodule "packaging"]
	path = 000-external/packaging
	url = git@git.betsol.com:zmanda/packaging.git
	branch = next-v099
	update = rebase
[submodule "tools-archives"]
	path = 000-external/tools-archives
	url = git@git.betsol.com:zmanda/tools-archives.git
	branch = __default_build__
	update = rebase
