<nav id="sidebar" class="{{if $.Site.Params.showVisitedLinks }}showVisitedLinks{{end}}">

{{ $currentNode := . }}
{{ $showvisitedlinks := .Site.Params.showVisitedLinks }}
  <div id="header-wrapper">
    <div id="header">
      {{ partial "logo.html" . }}
    </div>
    {{if not .Site.Params.disableSearch}}
        {{ partial "search.html" . }}
    {{end}}
  </div>

    <div class="highlightable">
    <ul class="topics">

        {{if eq .Site.Params.ordersectionsby "title"}}  
          {{range .Site.Home.Sections.ByTitle}}
          {{ template "section-tree-nav" dict "sect" . "currentnode" $currentNode "showvisitedlinks" $showvisitedlinks}}
          {{end}}
        {{else}}
          {{range .Site.Home.Sections.ByWeight}}
          {{ template "section-tree-nav" dict "sect" . "currentnode" $currentNode "showvisitedlinks" $showvisitedlinks}}
          {{end}}
        {{end}} 
    </ul>

    {{ $disableShortcutsTitle := .Site.Params.DisableShortcutsTitle}}
    {{with .Site.Menus.shortcuts}}
      <section id="shortcuts">
        <h3>{{ if not $disableShortcutsTitle}}{{ T "Shortcuts-Title"}}{{ end }}</h3>
        <ul>
          {{ range sort . "Weight"}}
              <li> 
                  {{.Pre}}<a class="padding" href="{{.URL | absLangURL }}">{{safeHTML .Name}}</a>{{.Post}}
              </li>
          {{end}}
        </ul>
      </section>
    {{end}}

    {{ if or .Site.IsMultiLingual $showvisitedlinks }}
    <section id="prefooter">
      <hr/>
      <ul>
      {{ if and .Site.IsMultiLingual (not .Site.Params.DisableLanguageSwitchingButton)}}
        <li>
          <a class="padding">
            <i class="fas fa-language fa-fw"></i>
          <div class="select-style">
            <select id="select-language" onchange="location = this.value;">
          {{ $siteLanguages := .Site.Languages}}
          {{ $pageLang := .Page.Lang}}
          {{ range .Page.AllTranslations }}
              {{ $translation := .}}
              {{ range $siteLanguages }}
                  {{ if eq $translation.Lang .Lang }}
                    {{ $selected := false }}
                    {{ if eq $pageLang .Lang}}
                      <option id="{{ $translation.Language }}" value="{{ $translation.Permalink }}" selected>{{ .LanguageName }}</option>
                    {{ else }}
                      <option id="{{ $translation.Language }}" value="{{ $translation.Permalink }}">{{ .LanguageName }}</option>
                    {{ end }}
                  {{ end }}
              {{ end }}
          {{ end }}
        </select>
        <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
          width="255px" height="255px" viewBox="0 0 255 255" style="enable-background:new 0 0 255 255;" xml:space="preserve">
          <g>
            <g id="arrow-drop-down">
              <polygon points="0,63.75 127.5,191.25 255,63.75 		" />
            </g>
          </g>
        </svg>
        </div>
        </a>
        </li>
      {{end}}
      
      {{ if $showvisitedlinks}}
         <!-- <li><a id = "i" href="https://sourceforge.net/projects/amanda/"> Sorce Forge</a></li> -->
         <!-- <p>Built with <a href="https://github.com/matcornic/hugo-theme-learn"><i class="fas fa-heart"></i></a> from <a href="http://getgrav.org">Grav</a> and <a href="http://gohugo.io/">Hugo</a></p> -->

<a id="svg"href="https://www.zmanda.com/lightning/"> Development Sponsor <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="1013px" height="343px" viewBox="0 0 1013 343" enable-background="new 0 0 1013 343" xml:space="preserve">  <image id="image0" width="1013" height="343" x="0" y="0"
  xlink:href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAA/UAAAFXCAYAAADj8G41AAAABGdBTUEAALGPC/xhBQAAACBjSFJN
AAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAABmJLR0QA/wD/AP+gvaeTAAAA
CXBIWXMAAABIAAAASABGyWs+AABzA0lEQVR42u3dd3xkVfnH8U+SzVa2sAvL0rv03gRUsoIKShMi
ClasAQlYUBGxoz8bIFUUERUrgoIoivQiHaQuvSy9LNt7yvz++N5LziTZTWbmztx7Z77v1ysv2Gx2
cu7MLec55znPATMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMz
MzMzMzMzMzMzMzMzMzMzMzMzMzMzMzOruqa0G1Cpk69+oP+x5P6YzBpUIfoC4KR9tkm7PWZmZmZm
mZeLADgI3FuBVYFpwHrAWsCawGRgIjAaaMnLcZnZGwpAN7AImAe8BrwEPB99vQLMB3od7JuZmZmZ
9cls8BsF8i3AVGArYDdgB+BNKJAfD4zM8jGYWUV6gaXAXBTYzwDuBO4CHkVBfsFBvpmZmZk1skwF
xFEg34QC+T2BdwFvATYAxqbdPjNLXQEF+Q8D1wFXAvcCC8Ap+2ZmZmbWeDIR1EfBfCuwJXAocCCw
OTAq7baZWabNQzP3FwP/RDP6nr03MzMzs4aRalAfBfMjgJ2BI4ED0Hr5TAw2mFlu9ACPAH8E/gA8
g4N7MzMzM2sAqQTPQZr9VkAHcBiwetpvhpnlXi/wGHAe8DvgVXBavpmZmZnVr5oG9UEV+yloZv6z
aL28mVmSeoBbgR+hdffLHdibmZmZWT2qWVAfzM7vDnwTeDtKvTczq5b5wAXAT9B6e8/am5mZmVld
qUlQHwX0Y4CPAScC66R94GbWMApo1v5E4Ea81t7MzMzM6kjVg/oooJ8KfB34BAruzcxq7QWUJXQh
Tsc3MzMzszpRtaA+WD+/EXAqqmzfnPYBm1lDWwj8GDgFWOTA3szMzMzyripBfRDQbwmcDbSlfaBm
ZpHl6L70LbTm3uvszczMzCy3Ei9UFwT0WwC/APZM+yDNzAIjgU6gBTgJWJB2g8zMzMzMypVoOnwQ
0G+IZsIc0JtZFo0AjkJB/Zjg3mVmZmZmlivVWOO+OlqvOj3tgzMzW4lW4Fjgs0CLA3szMzMzy6PE
gvqoQzwa+BpwcNoHZmY2DKOBrwLvhaJsIzMzMzOzXEgkqA86wh8GPkUNtsozM0vIZOBkYFtwYG9m
ZmZm+VJxUB90gHcBTgTGpn1QZmYl2gxVw5+UdkPMzMzMzEqRVPr9RJR2v0HaB2RmVqb9gY+BZ+vN
zMzMLD8qCuqDju/hwH5pH4yZWQXiwnlOwzczMzOz3Ehipn4j4Bi097OZWZ5tiO5nrWk3xMzMzMxs
OMoO6oNZrCOBrdI+EDOzhBwK7Jl2I8zMzMzMhqPSmfrNgCPSPggzswRNBj4JjHIKvpmZmZllXVlB
fdDRPQyl35uZ1ZN9gZ3SboSZmZmZ2VAqmalfC6WpmpnVmylo0LLJs/VmZmZmlmWVBPVtwJZpH4CZ
WZXsB6yXdiPMzMzMzFam5KA+mrVqRXs6u0K0mdWrmcDytBthZmZmZrYy5c7Urw/snnbjzcyq5B/A
Z4CX0m6ImZmZmdnKlBTUB2tLdwbWSbvxZmYJ6wX+AnQATwOctM82abfJzMzMzGyFyp2p3wMYkXbj
zcwS1ANcCBwDvAAO6M3MzMws+8oJzMcD26fdcDOzBHUBvwROAmY7mDczMzOzvCgnqJ8GbJh2w83M
ErIMOBP4LjDfAb2ZmZmZ5Uk5Qf26wOS0G25mloAlwI+BHwKLHdCbmZmZWd6UE9SvD4xJu+FmZhVa
iGbnTweWOaA3MzMzszwqJ6hfG2hKu+FmZhWYC3wd+DnQ5YDezMzMzPJq2EF9sJ3damk32sysAq8B
JwC/AXoc0JuZmZlZnpU6U98ETEi70WZmZXoR+CJwEdDrgN7MzMzM8q7UoL4ZGJ12o83MyjATOBa4
HCg4oDczMzOzelDOTH056/DNzNL0GHAMcBWAA3ozMzMzqxflBOgukmdmefIAcDRwMzigNzMzM7P6
4ll3M6tndwFHRf8tOaBv7+wAmAKMBZ67+Mxz0z4eMzMzM7MizWk3wMysSm4GPk5lAf3qwE+AvdM+
GDMzMzOzwXim3szq0VVoDf1jUFpAHwXzAGsBpwKHAf9N+4DMzMzMzAbjoN7M6kkBVbc/FlW7Lzeg
Xx84AzgA1REppH1gZmZmZmaDcfq9mdWLXuDPaA19JQH9psB5wIG4MKiZmZmZZZyDejOrBz3Ar9EM
/YtQdkC/NXA+8I60D8jMzMzMbDicfm9medcF/Bz4OjC3zIJ4ADsBPwN2SfuAzMzMzMyGy0G9meXZ
MuB04GRgQQUB/Z7AOcC2aR+QmZmZmVkpHNSbWV4tBn4I/BhYUkFAvzdwNrBZ2gdkZmZmZlYqB/Vm
lkcLgO8AZwLLygzom4D3oCr3G6Z9QGZmZmZm5XBQb2Z5Mwf4GvBLoKvMgL4ZOBQ4DVg77QMyMzMz
MyuXg3ozy5NXgS8DvwN6ygzoW4APAT8CpqZ9QGZmZmZmlXBQPzxLUDBRSLshGVFg8PeigPYKH0zv
Sl6nsIKfLzBwn/BeVvy7y2lTKa/Vu5Lvr+j4elbwu3tW8POl/I6m6HVKbVM5bR3qM9ob2IDqegH4
PHAxUCgzoB8BfBL4HjC5yu01MzMzM6s6B/XDcwfwabR1lq08gF7Z98v5N1n63ST4/VJ/tpzXT7Kt
K/s3LcBfqG5Q/zTag/6flB/QjwSOAb4JTKhiW83MzMzMasZB/fAsAp4BlpcaTJjVs5OvfqAWv+ZR
4LPANQBlBvRjgC8CJwDjavkemZmZmZlVk4P64VlR+rGZVdd9wNHALVB2QL8KKqz3OWB02gdkZmZm
ZpYkB/VmllV3AEcB90DZAf1EtPVdB0q/NzMzMzOrKw7qzSyLbkAz9DOg7IB+CvB/wJH4XmdmZmZm
dcodXTPLmitRQbsnoLSAPgrmAaYBPwEOR3vSm5mZmZnVJQf1ZpYVBeBStPb9WSg7oF8X+CnwXgZu
iWhmZmZmVlcc1JtZFvQCfwSOB16GsgP6jYGzgH3TPiAzMzOrf1EfpAnYDliL8otrNwEzgYcALj7z
3LQPzXLEQf3w9KTdALM61g1cAJwIzCpz/TzAFsA5QFvaB2RmZmYNpQX4EvB+1K8pxwjg52gbX7OS
OKg3szQtB34GfBOYV0FAv330Om9O+4DMzMysIbWi4L6lgtdwbGZl8YljZmlZCpwGfB9YWEFA/2YU
0G+f9gGZmZlZwyo37d6sYg7qzSwNi9B2c6cCSyoI6NuAs4Et0z4gMzMzM7M0OKg3s1qbB3wbBePL
Kwjo9wPORMXxzMzMzMwakoN6M6ul11FBvF8B3WUG9E1ou7qfou3rzMzMzMwaloP64enF62TMKvUK
2rLuD0BvmQF9M3A48BNgWtoHZGZmZmaWNgf1w9ObdgPMcu454HPA34BCmQH9COBItBZ/StoHZGZm
ZmaWBc1pN8DM6t6TwGeAv1J+QD8S7dv6YxzQm5mZmZm9wTP1ZlZNDwNHA9cDlBnQjwY+j9bir5L2
AZmZmZmZZYmDejOrlnuBo4DboOyAfhxwAvBFYEzaB2RmZmZmljUO6s2sGm5FM/T3QtkB/QTgmyjt
flTaB2RmZmZmlkUO6s0sadehQPxhKC2gD/agnwx8D/gkvk+ZmZmZma2QO8vD04O3tDMbjiuATuAp
KDugn4oK4n0QaEn7gMzMzMzMssxB/fA4oDcb2mXAMcDzUHZAvzZwGtAONKV9QGZmZmZmWeeg3swq
1QT8GbgZeAHKDug3BM4A9k/7gMzMzMzM8sJBvZlVqhv4C9BbZkE8gM2As4G90z4YMzMzM7M8cVBv
ZmULgvjeUv9tENBvC5wD7Jn28ZiZmZmZ5Y2DejOruSCg3wX4GbBT2m0yMzMzM8uj5rQbkBMlz0Ka
2eCCgP6twK9wQG9mZmZmVjYH9cPTiyvgm1UsCOjfAZwPbJ12m8zMzMzM8sxBvZnVRBTQNwEHAucB
m6bdJjMzMzOzvHNQb2ZVFwX0zcBhaA39+mm3yczMzMysHjioN7OqigL6FuCjwJnAWmm3yczMzMys
XjioN7OqiQL6VqADOAVYPe02mZmZmZnVE29pZ2ZVEQX0o4Bjga8D49Nuk5mZmZlZvXFQPzw9aTfA
LE+igH4s8CXgy9H/m5mZmZlZwhzUm1miooB+PHAScByarTczMzMzsypwUG9miQj2oJ8EfBf4DFpP
b2ZmZmZmVeKg3syStBrwQ1TpviXtxpiZmZmZ1TsH9WZWsWiWfk3gVLQXvXfWMDMzMzOrAQf1Zla2
IOV+feB04ECgKe12mZmZmZk1Cgf1ZlaWIKDfFDgLeGfabTIzMzMzazQO6s2sZEFAvxVwDvC2tNtk
ZmZmZtaIHNSbWUmCgH5H4GfArmm3yczMzMysUbmYlZkNWxDQ7wFcgAN6MzMzM7NUeabezIYlCOjf
DpwNbJ52m8zM8ia4l7YCY4HxwCrARGBc9DUSbQvaAvQCy4ElwEJgLjAfmAcsAroBLj7z3LQPzawq
omumCV0z49A1Mx6YEP15LH3XTDPQg66ZxcACiq+ZJdHf+5qpoeC+1wKMpvi+twr6HEfTd98D6AKW
ovvcvOBrQfR3BX+GfRzUm9mQgpvxe4AzgQ3TbpOZWdYF986xwDRgI2AzYBO0a8hawGQUnIxGQcsI
FJg0o0CmgAL7btSRXYY6trOA54DHgAfbOztmAM+g4MWdXculIIAfj66PjdE1szGwHto+d9Xo70eh
66WVvuslvmZ66LtmlqLA/lVgJvAoumYeRtfQInCQn5TgvjcSWA3YABVVflP0/+tE35+I7o2t0VcL
+vziTPL4vteN7nsLgdeBF4EngYfaOzseAp5A98OeRv4MHdSb2UoFD9hDgdPQzdjMhmGQ2YlVUGd0
bPTnUagDU6AvYItnZBdE/7+cKgVpg7QvngUbF7VtFH2zxV1B2+ZH/11arbblUb9Z+LWAHYDdgZ1Q
ID8Vvc+lbP0Zd3JH0DfDtRoKcnaLfqYHmI06t7cC17Z3dtwJvIY/n2EJnnUjgTFooCWeQYyv1zjw
gOLZ4EUMvC48GzwMwTUzGg107Qy8GV07GwJT0H2oFPE100rfZzkVBZVviX6mC10fjwA3o2vmPhT8
+3MrUfQ5NqPPayv0Ge4KbIHuhatQ+rLveNZ+FLoOJ6OBnR2ivy+g5+SzwF3Ade2dHf9FAzcNl8E0
7IfKyVc/AHqg/BFoT7vhNfYb4ONA70n7bJN2W8xqJrpJtwBHAD8G1ki7TSn5JHB+Iz0crDxBB3UV
1PnYAnVwNo3+vBp9Qf1Iijs5BdQRWYoCg3nAS2j29VFgBvA48DLqkJbcYek3Cxa3b8uoffHsSdi+
luCfx2ngcSrkS2i25EHgvqiNs4HeRrtWgnvlesBbgXehgHsdSg9IkrAEfR5XAH8FHkCfXUN1clcm
+MxWR8He1uh62ADNBk9C1/EY+rIn4plg0PUazwjH18V8NGP4LLo2ZqDPYSa6ZjzAwoCZ3E3Qsr53
ogK8a5DOpOMCdB+7DLgc3WuHdS+LjmcE8HvgsArb8QvgM5D9azV4nkxB97t3ofvfJujaqbVulHlx
HXAxGqxZANl/L5PgoH54HNRbwwkeUp8Avo9GSBuVg3pboaCDOh7YHtgHdWy2QEFyUh3UxcALqON5
PXAD6nguW9m5GbRvMpox3hvYEwUykxNoXzxb8iTqRP0buA0F+HXbmeo3gLMb6hu9A802ZikT8lXg
X8D56HPpqtfPZCjBZzYRXaMHoMKvG6CZwFIyKIajG838PolmEm8A7gCepwFThYP3fwrQhjIA90JL
U7JSvLuABmH+CvwaeIghgvtGC+qj421FA8IHA/ujwesxabctsAi4BfgVGtycD9l9T5Mw7JvX9659
CGgaQaHwByi8L+GXz7Ymft08YuQnCj3dvSdO3yLt1phVXXTDHgl8FvgWSl1rZA7qbYCgg7omCg4O
Q6mjE2vw63uBV1AQfRFwDTAH+jotQTrkJsB7UedrGxS8VNNiNPDwZ9Qxfi5sV94Fn/uqwL7AR9Ag
yfi02zaE2cBfgLNQoNJQs8bBc20/oBMF87UOQrpQ5s0NwN9Q0DEX6uf6GExwzayN7kVHoBTq0Wm3
bQjPocD+PFZyH2uUoD46ztEotf4j6P43jWwHfEvRIPhPgWup40HNYX8In/nJGfR0LR81apVJlzWP
aH3XgH/Y1DTg5ZqaBvkVTU00DfjeGz8cfKtpwPegiaamwV6v3y+Nf6ag1+7/b5oGaSsr+ZmuJQuv
ef7+G08tFHp76Xvl3uDHe6PvxXqC/1/ZzxaCPzdF/x/+bP/XGux3FQb5N8P5mf6vW+j3b1jBn/t/
r7eM1+kN/tuF0ta64u/X68WWF8FN+4vAV6l+AJAHDuobQJBKuDlKAS0M8U8KwHbAkShYTmt2dima
/fsl8HeU5gtac30kcDham1rrjlcP8HDUrj+g9au5vccHgckENDP1GTRDn0Z6fSWeAk4Ffgss6P95
BMe5PprBLlcTClgfoIJZ6ag9k9FMYKWzuQcAnyYbAzCLgTuBC9F1m+vrYzDBubQG8AGU9boVxct6
sq4X+B/wfygtf/kKrpm6DeqDmfk9orbth5an5MlclHl9Kloewwo+x0loKU4l52gXGtheVMvPcNgd
kNdnzgBooVBY8RqJpmF/s4qahvWtgX/dtOJ/UyhMLxQKb2VgoNz/z+X+3XB/FoYXaMffaxrGz6zs
z+UMFpTyM2E1y7iK7xNRNdK4kmXDrc1MU3RDGwecCHyB7I+iG0XB6JYorXGoYLTePYpSjsvpFDUD
X0KBcPcQP9tE3xY8aRoNvA0FmB8ATkcB2efRAEVasygtqHP0E+AQ1Cm+ur2zoztv9/WgU9uG3tfp
5Pf+uBHq2L4F+GZ7Z8djMOi1cgTwdQZOAgxXC/BfNDO7sMI274gyUkZS/v2tCc3MZyXNeyxKPd8D
DRyfA1za3tmR+zXAQTA/DjgIOA4t/Un7XlmO5qjtv0Iz9j9q7+wo9/mSK/36FsegAYu8LsWcBByL
CpeeBFzT3tkxWIyxDXAJuj7Ludc0oayofVFNjZopfVahKcsZFjDo+18Yzr8orOzfNKMHiVVfL3r4
P43SSi9r7+y4Nfpe3d9A0xTdvCeidPuj8TmfN63At4EDGToYrVfNaGb4/URBfZlGk8+AbRTwbrRW
uDVDxzACDTpsDZwNnN7e2fE6ZP+eHgQnGwOfAz6I0u7zbiQaANoMZWVd197Z0f/ziCuHV2IMyQwq
taAAsR6fS60onXl7tMb8B8AdKwg4Mi8IBHcCvoyyWrK01rpcE9CA3pbA8cCMQa6ZuhDc9yYBH0XB
8EZptysBTagi/4Wov/Sr9s6O/jVp4nvN2Ap+zzJSGDzMymilWawZ3Ti3Q+u5/4rSmfYCmoMbjSUo
el+nAD9Co7H12HFqBCPp64g34lcvcAbat7suO1vDNJ7sBPShySgL6Jeo2j5ZvqcHa7APQ+ufP0t9
BPShHdCa4ffhZ2zaRqNZ7UtQ8Dghb59H1N4JKAj8Kzqv6iGgjzWj1PML0Yxvpu9h5QgGZXYFfod2
PqqHgD60RnRcXwPG9fsMc5vpmKXqrGaDWQXNPL4Z+B5wbntnx/IG7qwnKriRTUM3uCPwYJ/l10XA
n6ChA/qsa0EF+6ahIPmerM129bsvfgXtAJKFNdjVsh4qnjcKDaLntlNbJ9ZCS1V2BE5q7+x4GrJ9
Twuumc3RDOjB1PfkwI4oHb8DFT2sC9HnOAYVwTsR3Rvq1Th0fx8LfKu9s6PSJUKpG3bnvbmlheYR
I3KQfm91airaVu1TQFO9jYymIXgP10Udug/igN7yawZKW12S5c6vveHNaMZ+J8jObFfQjh3RLNWx
1HdAH5sKnELjbVmcVa1okP1CdC5m5hrpL9hl491oYPUw6jugj20O/Azdy3KtvbMj/hynoRoop1Hf
AX1sJNoJ42tkM7utJMPuwDc1t9DcMmJg9Xmz2olH1bZLuyF5F3QONgLORev4fHFbXi1GAf0jaTfE
SrIDWmO/GaQftATByYHAH4G9aayBzqmoQ//2tBtib9gTVex+G6R/jfQXtWcUcBRwASoy1ki2QEu+
NmNgUehcCM6prdBSnKOoryUTQxmJ6qUck3ZDKlV6+r2Tsixd66KZhHuzlrKZF8ENfAvUoZ6edpvM
KvRHtP+27wn5sxta+vMJoi290hBUtz8S+C4KcGtpORqcmocKwy6JvteLliyMRh3tCdHXGKpTSXw9
NGN/GO7xZcXWqOr6p4EbstL3ia6Z8Wiy5fNUVlisVAV0fSwE5kf/XRp9r4Dim9FRmybSV2ekGoN0
u6B6RJ8hZ9dM0B98Kxqc2L7GTehB9735wAJ031safT8uUj4GfX4T0OReaxXaMRpt4fwEqlyfS2VU
vydnp6zVoV3RRb4k7YbkTXAD3x5tn7N72m0yq9ADwA+BpVno6FpZ3oOCgm+ksd1dMNt4HNrqqNrp
9gXUgX0Knb/3A48DzwNzUICyDHVs4+1pR6AAZTywGto/fgtgWzTDtnZ0DEnYHg1svFjl98GG701o
EP5jwF1pB/bRNbMqcDJaFlmNQCvUi4Ktx9H18iDwJDpH44GweBCsgALCVnTNTECF0TZEleu3Q9fO
GiRXW2x/tItEbpYdBP3B/YAz0Q4f1bYUbV/9EPocHwFmAq+jwH4J2r0nvu+1oPvaeHS+rYuuhW1R
VsiGqPZWEiaj8/nn5DTrYtgnc6G3FwoFKBRyeaBWV1ZHF7mD+hIEN/Dd0DqwHdJuk1mFFqKCUo+n
3ZAS9ACzUAD3MuqoLkOdl7FoF4ppKEibSO3TvwvA3Kh9L0ZtXYo6WGNRx2eNqH2rksxscTOa5boR
+HctA5bovjga+BJwAtWdbVwA3AP8BxXXehR9/sPdumxu9N9H2zs7/hv9/yh0vuwAvAOlzm9C5cHK
wVS2LWS96EFB40voep0FLELXySh0DawBrIkGW5IaWBnMVmit80fQtr81F/QjJqPZ6Y9R3b3nZwG3
AVcCt6BAfj5QGOY1E8+6zmjv7Lgu+v+xKDjcBXgXWtqwDpXda5tRJsXiKr4XiQk+xwPQYNG6Vfx1
y9G97hrgahTMvxJ9f7j3+vhedFfU9hb0rNwSaEOf47ZUfv/ekpwNzoSGfdPv7ekG3cS60m60Nbwl
6EFrwxTcwPdCM/Rbpt0mswT8Hm2blIl01CG8BlwLXIECuxfRoEQ8KwF9s0sTUSfrzWiLqz2p/hrH
ZcBdaOu2m4BnUDDTTd+sRTPqN4xHQf3OaP15G5oNq8Rk1Jm6Hc1WV12wZd0XUOpltd7jF4B/oCJi
d6GgpKJzNvi3y4CZ7Z0dM4G/o89lH1RkbQ/K7+SOorod/SzrRbOHNwHXA/ehz3Ae6gPH10OcQTEO
TTZsDrwFDaxsRXUKb70FVZc/ur2zY2FK971JKDvqSKoz6NiL0qAvQff3h4gmcRK6ZhajgbFH0W4p
G6NsoQ+gLJVysw7ipTGZFvQH3011A/oF6Pr5I3AdCuSHOxizQtG/7wFebe/seDX6HaejzNMPAPui
67EcTcD6VXo/qq7UkVwn3lsWPElORkOzILiB74tSrDZJu01mCbgXrcVelnZDhrAYdUzPRsH8ymYn
eqKvpe2dHa+gAPA3KHD+GkoZrYZHUYG0vxLNbA3RvmXtnR2zULDzBxTEnETlVaDfhtJYL6z2bH1Q
FO/TVC+gfwX4M9r66iGgaksLotftbe/seA4VLLsYFfo7Cg3mVnMGuV70oHP6QuByFNh3wwqvh3hd
93JgTntnx2PRv5uCzuWPoAGWcQm38/3o3nBGClktY4FvUr2A/kl0/v4BDSxWHASuSPS63VFw/yj6
3A9C94QdqW4GQiqC/uDb0Br6agT0i1E20rloYGwxVGfgPXjNOe2dHVegTIAd0JKQQ1AmTcPwPvWW
NwXgZqAnBzNzqYtu4E0olfKnNMYWJVb/FqAtLp+ETM/SP486wH+kxK324p9t7+xYgDISHgbOJ/lC
Rtejyr/3hb+3hPYtAf6JthQ8F3hnBW0ZCXwYuBR9xlURdGzb0axnUmsyY0uj9+QU4A5q+Lzqd95c
imbIDkU1C7bCu5ysyLMoi+23KNW+5PtK9POFaMDrr8C/UVrw8WjAK6kgOM4uuRkNFFZddM2MQFs8
HkXyAe88dJ87EwXYVQvm+wuumdfQNpv/RMsKjqKOslX6Vbn/Kcmvoe9F5+NPUGbSIqjd8zn6Pcvb
OztuB/6HnrvHo8HNatd8yIRybjCerbc0PYXW5dgQgpmow9EsoQP6+tcoHfbfAJdBpgP6Z9Fswa8o
MaAPBf/uHjRbPzfBNt6G1rKXFNCvoH1PoyrYT1XYpt2o4r7cwWu+GdVjmJzwr3gKBT4fA269+Mxz
UxmAvvjMc+PPZh46Bw8GfkHU0bY39KAlMYeiNeIvBe9dWYJ/vxgtZzkUZRXNT7Dd66PCjqOrvc1d
v0Gwr5Bs1kcBZR18GA08PXLxmefWLKAPBZ/bS2h5wSFoSUs9LTueis7zpGsqzUMDBe9F2UmLKr2O
yhUH9yhWOALVSmmIop/lzNS7UJ6l6U9orZWtRFBI5EjUcV0t7TZZ1fWilLdZZOs+3Yt2rNg2ode7
G82ALs9wQA/qUPwHKh94uPjMc+Nr+hpUMOr9CbTvZZR2/lilbQzady+abft6Be2agFKWb0jgGFdk
LeAHwEYJvmYvcBVwItHsaRbOz2AW8kmUkXEbyh7ZIO22ZcAyVOn6u8CspD+v4L1/GV0TD6AMo6QG
2A9CaepXVusNCgL6HaP3aVKCL78MzaZ+G6XaZ+aaae/s6EWDDR8FPosyI5IeAKyZoH7IV1C1+yQ9
hs7vvwFdWfkMo+Oeg4pL3oH6wntSx5Mf5QT1nqm3tNyH0k8zcePPqmC/5aPQw3JS2m2ymugGzkq7
Ef0UUOB0SUKvNw/4HlEHMOPCgloVizqay4B/Ae+j8lTe3xAFzkncT4PA/l9AJ5Xdd3ZH65ATnVUO
7o1fQuvMk7IMzYZ/G62jz9wzKvp8lgK/Rp3wU6i8BkKeLUWz5z8AFlfz84re+y404PUKSvPfNIGX
ngh8HLi+vbNjWRWPYTI6t5OsxzMPvfdnEs3qZkkQFM6N2vkwmuGuxbZviQoGZg5B2WNJBrXXowKn
mRnIDEXXXrxs9wi0Zd3h1Gk6vtfUW14sQDfWVLZxyYtge6bPoVTdpNeKWgYFD9LMDLoGe38fT3Lr
wC9Aa/Uy13mooQdQCn4ls0bLgf9SnXWrz6HthyZV8BqboG3CKk3lf0PQsd0fBUJJWYQ6+6eQweAk
FAy83AJ8CM1g7U8dz1ytQBdwKpq5K3tpTCmC9/5q4Gg0QZHEjP3eaBb91qTbHFwznyLZ2d1XUEr0
76hi8cgkRJ9bD6qR8BIahNgp7XaVYVPUJxyf0OsV0Mz8F1BBycw+k4MBmufQgPOLaOlKtXeUqblS
R/oLZKjTaA2jF+2rnpetq1IRVKY9EfgGDugtJUFn8GAUPCThDhSEZCK9L0WLqLzif4HqLdHojr4q
MQVtzZa0tVD6aVLbTi0CvoUGnDMd0MeCNj6J6ilcROP1635LDQP6WPC7rkYBVhLFIKegvcYTrUER
vNbOKP08qcJ4LwHHoEyhTAf0saCNt6JaGf9Nu03DFWQnHQdsndDLFtCyiaOBmWmtnS9V1Mb5KOvk
ZOpwF61y0veytFbTGsNfUNGSrK+hTU10454AfAf4MnU4Amm5swlas53EzMAc9BB+Nu2DyoCsz6o2
JdDG0WimPhFBgPJxVN8hCctQYHgGOXs29SsI9jk049YobkfPyVT2eA9+50VoKUQS9kHBfdJGo2Aw
qQrwr6PMrUuoYXX7JARtfRDoAO5Mu01DCe57bSj1PCmXohn6V/L0GcIbn+NSlFn1A7K/JW5JXP3e
su5faP3j7LQbklXRjXtVdIM6Fu9HbCkK0u6/BGyX0Muej+4FuZgRsIq1oPXCSdoSFQ5NYlCkFxVY
O5WcBfSDeBl10K9PuyE1sBR9ZqkODgbVuc8EHkngJTcDtkiqfUEw+HbgwIRedgkaTPkTOQvoY/0C
+07g8bTbNAzjUKZFUvu134zW0L+S9oGVK/ocl6HA/lzqaLK6nKA+67MEVj/+jW5Gz4E78/21d3bE
D9+pqKPyaeq0+IflQ7+CPB9M6GVvRVvl5CJV0xLRREI1f6JzsgltmZVUtfsrUebIkjTenKQE19NM
NAj3ZNptqrL5qCZFVvoTj6PieZWagNLkk0zBH4vW0ie1VOV8tKVib0be+7IEbb8dZaLNSbtNgwnO
g71RJkcSnkH3iaf7vRe5E2w5eTLa0rIueKbesqiA9qDuoA5uHtUQ3LDXRqP9HyG5NW9mldgUdXbG
JfBas9FD94W0D8pybRO0Y0ASnkbbN70G+X82Be2/C21ZVnfrTLMoeN//RjL3t+2ofEeMsG+xJ5qp
T8LNKJNwad6vFyj67C5F9Z6yGheNQVvyJfEsXoq2Y7yt33uQW9ExzEL387rYKrucQnk9aTfa6lov
KsBxFBmvqJmW4KG7AXqgHEYCD3OzSgQ7L3wZ2CaBlyygmZ0rwfcBK11wrzyQZLai6kJZI3dD/ZyT
/dZ5/yXt9jSYJ0hmffYmaHY9CS3AB0hmln4uCgbramA2umZ60KRKVgvn7YjW0yfhUuAPwbHXk3tR
Kv7ytBtSKQcCliXdwC/RuvCXoC5vHhUJOqlvAs4jqnprlqbgvGwnuYI8N6MiZD2+D1gFJgEHJfRa
N6JtuOr12bQEDVq4IGXtLCOa/azQVCrbRjK0CcmlbP8ZVfuv12vmZbQry6K0GxILnscHUdnWp7GX
snaMSQnOyT8B16bdnko5qLesWIY68F8CXs/LFhm1FNyot0Hr05J66JolYTO093ASs0WzUNr9S2kf
lOXeDsD2CbzOElRUqS6LtgbP2/tIZp23DSF4z2dQ+SzhJCqcWe+3DjuJivcvoGyrutyGNDimfwNX
pd2eftYA3pHQa/0ZLc+p5375XJT5muuBCwf1lgWL0ZZ1Xwfm1/FNo2z99oz9FfCWtNtkBm+cm2PQ
/t9bJfCSvSh4ugbquhNhVdQvQEliW8VbiTru9XpORsdVQGm2z6fdngbyMpUHE6NIZu30KDRhkERR
7MvRIFG9WwxcQLbqUeyABtor9TJwITkvcLgywXFdi7KxcqucNfV1U/rfMmE+8E205mpxvd40KhF0
Tt+CAvqd026TGRSdm+8D3p/Qy94InIXT7q1y40lmALQXzVbNS/uAauRholoWVhMLUSGySrSgmiaV
Wgetxa7UPHTN1HUdruAZdSNwT9rtCZ7Jb0OD7ZW6hmjHiAawEJ2z3Wk3pFzlzNQ7qLekzEbpuqcD
y9yBHyi4Qe+DUu6TKEBmVrHg3NyC5NLuX0UVuHO7B65lynokM1s1kwbJHAkKgF1O5YGmDU83lQe/
TSSTfbsNsGYCr3MvUZBb79dMZC7wz7QbERkH7JrA63QBf4/+W9eCc/R6ol238sjp95aWV4DPUcfr
rSoVBE0HoKJ4b0q7TWb9jEUB/RYJvFYvcA56qDZKR9Cqa0tgtQRe53ai3VgayF3AU2k3wmoj6G9s
D4xM4CWvRZmYdS94Vl1HNvatn4a2lq3UTHTva6Tn8fPALWk3olwO6i0NzwFHoyrCTrEdRPSAbUbb
1Z2Ltq8zy4SgA/h+ktv/+1oU1Nft2j2rjeD83BIYkcBL/pccp2SW6WXgf2k3wmqqlWTqoiwmCowa
7F7+GPB42o0ANgRWT+B17gVeTPtgaqwH7bxTSLsh5fA+9VZrTwCfAv4KFBrshj8sUYe0BfgIWlu8
VtptMhvEVqg4XhLr9l5G1e5fS/ugrG40k0x20wLUuW20AKUHeDLtRlhNrYICwkq9hALcRrMQTVql
bSOSeS7fTQNl0gbH+RQ5XXpUzkx9LkcvLBMeBD5OVICnUW4UpYgC+lbgM8CpJDPaapaY6ByN0+6T
WK/cgwavbgTfFywxY4C1E3idV2ncfds9idNYViWZ5SrPoG1JG02qE59BhtIGCbzcclQwsxH1kNNY
t5ygPoltLqzx3AkcCdwE7rgPJrohjwKOA36AHrBmmRF0Go4A2hN62auBn+PMHUvWOJIJUF6mTvem
N+tnEjAxgdeZCSxJ+2AaVBPao75Si8hG1oGVoJy1ZrkcvbBU3Qh8Fs3UO6AfRLDX95dQSnMSlcTN
qmEb4Msks33Si6jafSPO6lh1jSGZ/elfAZalfTBmNTCJZIrkvYRjhbSMAKYk8DrzyUbRPytBqUG9
19Rbqf4NdKK19A7oBxEF9KsAJ6FZ+iSCJbNEBefpV0mmsm43cAaNWVDJqm8syQQoc2mALZ3M0P09
icKSc8D39JS0oM+xUgtxtkXuJHHxmg2mgIrhfZ4ohcc3+GJBKvMk4DtAB1pPb5Yp/dLuD0noZa9E
WzU67d6qoRV1cCuVy4JJZmUYRTK7YjkYTE8zyQxmLseDmbnjoN6qoQdtV/cV4BV32FdqNbR+/mMk
0wE1S1QQ0G+HloeMSuBln0fV7mf7/mBV0kQyNYB6wYPS1hCSqpnVm/aBNLgkBmZ68RKK3HH1e0ta
F9pX/fM4oF+hKFBaEzgdFRB0QG9ZFqfdb5LAa3UDPwVuS/ugrK71kExw0QpFg1tm9aqbZPr4zjhM
TwF9jpUagfuluVPOTL3X1NuKLEWd9e8BCx3QDxR0DNdDAf1BeEcJy6jgfP0wcHBCL3sFcD549tOq
ainJdG5XQRMgnn20ercE9fErDcrHg54fvsfXXC/JLH8YSzJZeVZDTr+3pCwCvo/2Vl/qG/lAQYC0
CdqX+11pt8lsRYLzdQfgeJJ5wD+L0u7npn18VveWAIsTeJ3V0BpVr623ejefZAbCVk/7QBpYD8k8
X8eTTME9q6Ek1l2YzQVOBH6CA/pBBQHSVsAvcUBv+TAeXdsbJfBaXcApwJ3gWXqrusUksyXTNLTn
vVm9m0MyA2Hr4knDtHQDryXwOquQzH73VkOlBvUFnIJmxV4DvgicAyx3R32gfjOe5wN7pd0ms5UJ
ztmPAgcm9LKXA78GB/RWE4vQHvOVWgMF9mb1bg4wO4HX2QCYkPbBNLAXEniNccDGaR9ISnK7JNaF
8qwSzwOfRR31bnfUBwqCo92BC4Dd0m6T2TDthAbsktge52lUa2N+2gdlDWM5Ou8qNQXYDBqyWN5q
aTfAamoeyQSE66HZ+kYzEpic1i8P+uBPUfkyiia0400j3vemkEy/p+Yc1Fu5ngI+A/wF6HVAP1Bw
I5wO/IroBmmWZdF5OwH4GppxqdRytDTnHvAsvdXUwwm8RiuNORg7Adgx7UZYTS0GHkvgdaagzMRG
sw7RAGDKnkQDNJXaCZiY9sHUStBn35WcLh9x+r2V4xHgk6iKtTvpgwhuDu9Ga+g3T7tNZkMJztsj
gf0TetlLgQvB9wqrjeA8ewhYkMBLvhWYlPZx1dgW0Zc1gOCauS+Bl2sG2oCWRpjl7RcMrpl2e1BB
2ucSeJ1GvAdMQvf7XPJMvZXqHuDjwHXgTvpgoht8E3Ao8HOSKTJmVlVBx2QX4PMks9fwE2hXjAW+
V1gKHkcd3EptjWat6l5wH3gXKaYSW2r+RzIFJt8KbJj2wdRQK/AesjHDO5tkBmcmA++EhkrB3wnd
73PJ1e+tFDcBHwNuBQf0g4lufM3AB4GzUTqWWV5MQmn36yfwWsuAH5NM58KsHK8CdyfwOuOBQ4Dm
BuncrgEckHYjLBWPk0wK/obAvtAwAeHWKDshC3qBm0kms/pAGqAKftB3PxTd73OpnPT7nrQbbam4
Es3QPwAO6AcT3RRGoKUJP6UBboRWH/ql3b87oZe9BPg9+H5htRedcz3ANSTTbzkAbUlat4L7wH64
BkyjmgPckMDrNAFHUOd71geZmR8gA7tkBM/aW4CXE3jJbYn6BA0wOLM1yS07TIXT720oBeAyVBTv
CXAHfTDRzW4kcAzwI1Qoxizzggf1biSXdv8Y8H9oWzGzNN0MPJPA66yLBr3qfZ3wVDQwncR9wHIk
6NtdSTK1KHYG3gt1HxBug4L6LHmCKKu2Qq3ofjA17QOqlujcbEH391zv2uD0e1uZXuCPwFHAzIvP
PNcB/SCiG8Jo4HjgZBqoWqjVjUko7T6JB9oS4IfAg+BBQEvdM8BVCb3WEcAeUH9BSnA8HwLenHZ7
LFV3k8yylVa07XFdrq3vN5mzXtrtiUXP3OWoSG2lW9uBBvw/HBxz3QiOZ090f8+1coJ6p983hm7g
POBY4CV3zAcX3RDGAScBX4/+3ywXggfaJ1HKbRL+AvwJHNBbuqLzrxe4GJifwEuuAZwArJr2sSUp
uA/sBHSiWStrXPOItitO4LW2BT4HtNZTQBgcy4Fkb5Y+dg3RktkKtaD7wk79jr1eTEb39dxnI3im
3gazDK0J/zLwetqNyapgP+/vAl9Cs/WNznU38md34DiSqdr7MPADtN+xWVbcSrRjSwLehWbm6i0N
fwrwLWCDtBti6QkGYi9HW0Im4WNAO9RHQBgcw+ZoMierhdVeQgPsSSybXh/dH+pmaWmQdt9JVOU/
7xzUW3+L0BZU3wTmO+V+cNHNYDJaP9+JUrDMQX1uBOfwSSSzS8NiFNA/DJ6lt0xZDJwPLEzgtVrQ
zOMhkP8gJWr/KOArJFck0/LvOeC3JBMQTgC+g9K4c3/NRFZDfeVt027IYILn70XAjIRe9t3oPjEq
759h0P52NKlRF9lJDuotNA+tq/0BsNid8oHaOzvim8EaKJvhU2RjX9KsaMYFljIvqNj7KZIbof4T
Stl0QG+ZEZyL1wD/TuhlJ6O6EW2Q3yAl2LHlaLT22X1CC6+ZPwL3JPSymwCnAW9K+/gqEV0zq6BZ
64PSbs8wPIMGNJOYbGlG94mjyHGmUtDut6P7eN0sp/IN3GKvoxTys4Hl7pQPFNwI1gRORwWFfA0N
1JR2A2zFgvN4D1QzI4lBqQfRw3GJ7x2WNdE5uRjdt19J6GU3BM5Cy1dyF9gHAf2nUGbe2LTbZJnz
AnAmsDSh19sdXTMbBxMkuREE9N8APk3G+3/Bs/j3aIu7JIxF94tPksPAPmjv21C8s37abUpSpk9I
q5kXUef+fKDbnfKBghvBhsC5wGE4eLX8moLS7tdK4LUWoe3rHkv7oMyGcAvwS5Lbmner6PXaID+B
fZBy34muXe/YYkWCfuAlaH19Ut4B/ALYAnJ3zayKdjg6jnxlJL4K/Bhl4yZhEsroPQoYmbPPEJSd
eB6qiVBXHNTbU0AHSrPqdUA/UHAj2AINfByIA3rLoSDt/tOoc5WE3wN/BafdW3YFlfDPRnvXJ2VL
4AK0NjPzM1dBcPJtvAWrrUR0zSxEAdxTCb7024HfkIPtIYOMgvVRlsEx5KiGUvBM/jfwqwRfehIa
EPwaMCHLnyG8cY61oq35zifny0BWxEF9Y5uBUmguBwrukA8U3Kh2RB236Wm3yawcwbn8VpLbtup+
NAOw1PcPy4mXUProSwm+5gbAz9EStglZTC0O2rQZmin9Ik65t+G5BwVwSe5qsgvwO7SMMZOzvcEg
+J5RWw8nhwXVomdzF3AKcFOCL70K8FU02LFhxu97k9GyibNIpjBwJjmob1x3Ax8n2ubHHfKBgpvT
niig3y3tNplVaDWUdr9mAq+1APge8ETaB2U2HMFz7no0+5jUWmFQp/HbKK1zK8jODGTUjpEom+Av
0X9d4NWGFFwzv0MznEktXQEtZzwH1WNZJytBYdCOCWhm/k/AW8h/huYLwInAswm+Zjz7fRHwHmBE
Fj5DKBqU2RllhpyAPtO6VU5Q74GA/LsZBfS3gwP6wfRbe/MrMrptidlwROdzM1pqs3dCL3shcBn4
HmL5EZ2rBRR8n4dS8pMyEtVb+RtabzopzUAl+t1NaO3oGehZtk0qjbHciq6ZpWgQ94qEX348WqN+
CdomckyaQWGwd/nuKBD8CXUwsxs8o28Gvg7MT/hX7Iz6BD8i5Vn74HevDhyPzq39aYCBzHIC9LyP
VDW6K1FAfz+4Mz6YYHTvvajTV5drb6wx9Kv2mtS2Vfegzs6ytI/PrFTRc28J8F0UgCdtU7Tl6UWo
Bsu4WnZyg9+1LvBltMTuMyiAMitZdM28goKkOxJ++SZgVxREnw+8tb2zo6Yp+dE104xqZPwI3RcO
Jkfr54cS9Pf/gDKVkn5+rwp8Dt1vOoFpKd33JqKlEn8Dvg+sV5MGZEDdj1rYGwroBP8c8Bw4oB9M
MKN5OApapqXdJrMErI7S7pM4n+ehYOhp8H3Ecu01tLZ8PMrKStJIVIxyD5Tu/1vguvbOjtegOtdN
sE3dJmjW83AUpDjD0pLyCEpJv4BomUmCVkHn7DtRRsDv2js7biOaVU76mgmCzVEoG/P9aGnKetTp
BObFZ55Le2dHNxp0jIPwJCv5N6Hz4lTgo6iQ7t/bOzueAXqqeN9rQv2bdwIfQffd0dV5F7PLQX1j
6EHrob4CvOJO+OCCDtGRqCjMlLTbZFaJYJDqaJIr8ngjMBPYOvgdWdKEZiCeBrp8v7PBRJ1b0Ln8
WVQ8rhqFUMehtab7AA+iYOU/7Z0dM4A5VFCkNrj2WlGdjF2j37U3ShmuJDDpRYXRVqnCe2I5FFwz
d6KlXG9sTZewKWid9nuBu4B/oAGxx1A1/rID/OCaGY2C97eg1Oy3opozlegGlpPxApTR5xhnKo1E
/YOkt+gbAewE7IAGga4Crmjv7LgbZXxUtH120LeZjAZk3gXsh5YaVXosi9D5kbuiiA7q618XuvF+
HZjjDu7ggn17j0aVkb3Nj+Va0HlpQ+d1UrN1e6HtcbI6k9GMivcdDLycdmMsu4Ig5QmUnn42yW31
2N8o1MndCTgWeAwFR3e1d3Y8gopYzUXLArqJCpIFbQSd260o0J6Cqu5vg4L5HVGQklS68P+Ah1F1
cjOg6Hy8GW2N+jOiAd4qWAU9v/YCXgceQqn/97R3djyOdrCYj9b79zB4Eb8WdM1MQBlrGwHbo2tm
O2Atkgve/oOuv32q9H4kJvocF6CK8L1oYLMaSw2a0Xv+GTRz/wxavndne2fHg9GfZ6NAuitqS//7
XhOKV8eirfTWQRlIO6NdFDYlucHHWSi74BMJvmbNOKivb8uA09FetAsc0A8uunGMQWvFvoJmVszq
wRoo7X5qgq85gexXkJ2NU45tGOLnYhQkfAo4DTiI6p4/E1FndBfUiV2IOpOvoCUBr6PdJZa2d3b0
or7amOjfrR59rYFmqcZUoX2z0ETATlV8Dyyn+gX2R6Jtwqq5O1ATmkXfK/rqQcvAwmtmNrqOlqHg
vhUFgaui62Vq9LUq1QleH0YB8vFVfB8SFX2O89G1vpDqb3M5Gs2kbw4cgTKBZtP3Gc5Cn+uSaIlA
MxoMnYAGMaei+95qKOBOemKhGxUUvQU9C3LHQX39WoS2CfkJsMQB/eCiB9N4dFM7Ft1AzHItSE37
LOoEmdnQZqK04ldRsFKLIlnN9A2UbZT2G4BmPb8P/AsNOpgNEAT2d6EZ2FOAd1ObDK4WNKA1mWwU
Mn4NbZd2LzkbTI4+x0VoZ4NXUaZqpcsQhmts9JWV3QUuQoO6O6bdkHLl6uSzYZuPRgx/iAP6QQVV
Miej9+lzOKC3OhCkrL0dbavl+7zZEC4+89x41v5VNNv2LbTmvZF0A2cC7jTYkIK+5aMoXflcNCjU
SOIU9svJ7pK0lYo+x2XAOWiG+tG025SCq4GvooyFXH6O4H3q69HrwJdQCslyB/QDBUHPGqgC6KdJ
vkiIWZqmoeyTWo24m9WF6Jm5EPgxClRmpN2mGulB9XdORuv6zYYUDIbF2919CXgx7XbVyCLgO2gb
vkKFr5Wq6DPsBS4FPoAydXrSbleN3IyK+T2bdkMqVWqA3lTGv7HaeRk4DvglFVaWrFdBQL8eKvDy
IXJY4dJsMNH53YIeUG9Nuz1meRQ9O7vRNrDvA/5M8ns6Z0kXeh5+jWj7MLNSRNfMYlRs8nC0jWNv
2u2qovkoVf0MdP3kXhAz3Iu2hfs+miisZ9ehib26yE5wgF4/ZqJU2z8AvQ7oBwoC+k3RjMR7yXGa
jVkoOL/3QZVmfW6blSmYgZyBUlI/j6rk15uFaAvXrwJz3XewckXnTgFte/oB+tZp15uX0P3gdOos
Iza4781CWQhHoM+z3mbte4BLUDbWw/Gx552D+vrwKPBJlDZT9p639SwIeLYBfoX2tDSrN2uiavdO
uzdLQPQ8XYDWCx8EnIcqNNeDmUAnCr4Wuu9gleqXjv9t4FDgMupnrf3/gI8BF1DHGbFBttJ/ULbS
Seh+UQ8WAKeiyY+ng+PNPQf1+Xcv8HFU5KFuTswkBQH9ruhG/Ja022SWpCDt/lhgz7TbY1ZPokCl
gGbtO4HDUGGsxWm3rUzdwL+B9wO/oc5mGy190fnUg9YrfxjNiN5CflPVF6P+42Eo0K37CbR+xUN/
CByAiunlOfviIZRufxLwenCMdcFBfb7dhgL6W8AB/WCCgL4N3ZC9767VleAcfyd6WDnt3qwKog7g
MtSpPwLVZPknmvnJi6eArwAfBG6nAYITS0cQMC1AS0MPQstE/0t+alT0AvegJTifJVqC00jXTDCo
+QCq23UgWsL6ctptK8EcNCDxXuBP1OlApvepz6/r0A2mbtaCJC0KdpqA/dA2PVnYA9isGtZGI8+T
026IWb2L9nZeiArp/Qdlx3wAeAewFtmcMHkB7cN8HvAIDuatRuLzrL2zYxaqFP83VPvlcFTQdUra
bRxEL/A4ymS5EHg+PJZGFKfkt3d23A7cjYprvg8N1ryJbO4iNR+4CgX0N1OnwXzMQX0+/ROl2T4F
jX2TWZEooG8G2oFTgHXSbpNZ0qLzvBX4ArBH2u0xS1CmM06C5+6i9s6O/6CB9k1RvZb3ANujQbY0
j6MLzSxeimanHgJ6SugzJNH2TH+OVjvBeTe7vbPjIuDvwLboenkXsCUwPuVmLgXuB/6CCqk9Q2kD
YEmd701kdJu8ILi/F7gPBcxtKD1/DzSwmeauUgVUzPAq4Hcom3lx0PahNJHT+5aD+nzpBS5GHfgX
wAH9YIL1xR8BfgBMTbtNZlW0KRolv4WMdgJqrAntN7u8zH9fQMVHb6P8ir8tVK9S+hLgTlQMsdzP
ezlKR6yG5ShddS7lb2kVd8pyIXoOd7V3dsxA6+7PAzYH3oZmIrdFHd3RNWjOctQ/uA24Am0t9gLl
zcw/C9xK+Z9jMwqQkqicPRfd48qdDWxC23NlsQ5CfE0/S/nX9BJyVMAxOheXtnd23AHcAfwUXSd7
obpHW6K+Wy1mf5eggmk3o0mzW1D191L72AWUBZPEsyPzz/Jgt4MX2js7fo8ygTYEdkdB/k7A+mig
ptpBci/wGhpkuDL6egzoKuO+Nw+dA5Xcr+eTwr3GQX1+9AC/BU4gKlLhgH6gKKAfiapafgeYlHab
zKrscZTGaH16UUet3H/7Q5ThU4lqFYR6Dn3elaR4F6heNerZqLZDpSnoeVlz+4bgmbywvbPjLuAu
4CwU0G+OZu+3ATZBO1WsijqO5fbFuoFFqDP7FCqce1v03+eJzsEK+gq/RzOWleghmXPtLmB/KgsO
CpR/X6imF1F9hqxe01UTnJtz2js7bgBuAMYC66LAfntgK2BjYA1gIjCK8meCl6NtHF9Gz857UG2J
B1DF/p5+7SpFD9rb/UcVvi25KyYYD2wCj7V3djyGZshXQ5MO2wLbAZuhrNkp6DNupbzrOX6+z0YD
YQ+iz/BuNCBSyqz8YO5HSwpyd68ZdoOD9cnnoSqWVjtdwM+BbwBzHMwPLjpHR6P9Q08EVkm7TVY3
Pgmc72vPzMoVZJGNRx3eaSjgXwPNSk4BJqBn18joZ5tRJ7aLvtnYWSgoeQF1al+MvrcEPOBv9SEo
AtuKroupFF8zq6MlLuOBcdHPjUCxSg+6ZhahLI9ZKPvneTQw+iIKCpeDr5lqCuLHsegetwb6DKeh
z3Q1NFgzHg3YjED3vgIauFyKii2+jiY14/veC2ggZhHQ68/QQX0eLEVpSd5HdiWi83Mc8FW0PGFM
2m2yuuKg3syqJghgmlAgHwf08dranuirgIvcmYXXTHO/r/7XTC84cM+iQe574VcBfXbxZ1gAf44r
4/T7bFuE1oSfAizxiTy46KYwEfg22i5lZNptMjMzG67g+R4GI2a2AsE100v5dR8sRb7vJctBfXbN
A76FqkrW9RYMlYgC+tWA/wM+hs9pMzMzMzNrIOUEQLks858zs9Ca8AuAbgf0gwsC+p8AHyabewOb
mZmZmZlVTalBfbzmwarnJeB4tKesCz+sQBTQT8YBvZmZmZmZNTDP1GfLM8BxwOW4EM4KBUXxvoMD
ejMzMzMza2Bef5wdjwDHANeAqzuuSLAlUCfwKRzQm5mZmZlZA3NQnw3/A44GbgMH9CsSbH2xH1qi
4Cr3ZmZmZmbW0DzLmb5bgCNxQD9c6wJfB6ak3RAzMzMzM7O0lRPUe019cq4GPg7cBw7oVyaYpf8E
sGva7TEzMzMzM8uCUoN6V79PRgG4DK0JfxQc0A/TpsCH0m6EmZmZmZlZVjhAr71etF3dUajavQP6
IQSz9PsCG6XdHjMzMzMzs6xwobza6gZ+DXwVmOVgviQjgbfj5R9mZmZmZmZv8Ex97SwHzkZV2x3Q
l24SSr83MzMzMzOziGfqa2MJcCrwA2ChA/qyjI2+zMzMzMzMLFJOUO/Z/dIsBL4H/BRY6oC+bEuj
LzMzMzMzM4uUE6A7qB++OWj9/Ck4oK/UbKKdAszMzMzMzEwcoFfPq8AXgJ8BXQ7oK7YcuARYlnZD
zMzMzMzMssJBfXU8DxwD/BbocUBfmeD9+zvw17TbY2ZmZmZmlhUO6pP3JPAZ4C9ArwP6RM0HTgAu
A3rTboyZmZmZmVnaHNQnawbwSeAKKJphtgoF7+WzwKdQ8cEX026XmZmZmZlZmkqtft8UfdlAdwNH
A3eAA/pqiN/T9s6O14BvA38DPgDsB2wCjEm7jY2gUHCShJmZmZlZVpSzpV1L2o3OoJtRQP8AOKCv
tuj97Wnv7PgfcC9wGrAdsDOwDhp4KqTdznrU0jpy7MRpGx7U3NI6seC32MzMzMwsdeUE9VbsP6go
3uPggL6Wove6ALwcfV2Zdpvq2clXPwAwDdgdmJh2e8zMzMzMzGvqK1FABds+jQN6MzMzMzMzS4Fn
6svTC/wR+BLwkoN5MzMzMzMzS4Nn6kvXDZwHHAe8lHZjzMzMzMzMrHF5pr40y4CzgO8A8z1Db2Zm
ZmZmZmlyUD98i4EfAz8CFjugNzMzMzMzs7Q5qB+eJcDJwKnAMgf0ZmZmZmZmlgVeUz+0JWh2/jQc
0JuZmZmZmVmGeKZ+5RagGfrTcUBvZmZmZmZmGeOgfsXmAF8HfgF0OaA3MzMzMzOzrHFQP7hXga8A
FwI9DujNzMzMzMwsixzUD/QC8HngEqDXAb2Z1au2tukAqwLjg2/PB+YCXH/9dWk3MYnjA5gYfQ2l
F1iKll4tBwrVeg+ito0CpgJNFbzUAmBOqe2Mfv949PlXw1xgflLvX9TeEcAawKbARsA0YBx6/5YB
84BXgJnAU2iAvrfa53Fwno0C1gY2BtZHn23cvkVR254GHgdeArpq1LaW6H2L+3xdUVuq/t5kSfBe
rIbOnw2BtdC9YUT0vixE583zwDOoT7gEqns/DM6hMegc2gRYD1gdGBv93SLgZXRuP44+w+4anUPx
tdcS/FVv9F4tT7oN0e8ciz6rWBN6PpV8v1vJ75gATBrGj/egZ8NCqvxsGGa7R6D7S3xNV+2zWEkb
RkZtCOuzdUftKPu8jF57FWBy8O25lPk8CT7nVYFCEu1cwfm5LHrN1M4NB/XFngKOBa4ACg7ozaxe
BUHlj4B9UKelBfgX8DnUcakXHwKOj45xZXrR9qUvAv8D/tPWNv0Oqtep3wb4NerIF8r49yOAX6La
L+U4DDixzN+9Ms3AD9DytbIFgc5Y4G3A+4A9gXWi7w02GNKLOt7PAZcBP2hrm76gGp2soH1rA/sB
7wF2QB3d0YO0r4DOpReB24BL2tqmX4sClWoGjaujzMMNoz8/AnwQLTOsa8FnNB54C3AQsAcKmMcz
eMHoAgrgZgEz0D3xN21t0+dWKXhtitrzHuDdwLboMxu9grYtRoMOtwAXt7VNvwEF/NU8h9YBfg+s
ia4xUGB0AnBpW9v0xH538JkdBXw2+H0jgF8B30nwuA5Hmbm9Q/xcD32DKg8BN7e1Tb8FeA1SGQDf
Ed1fx6Nzogs9t6+sYRs2AX6HBsUK6DxeCnwJuKLCc+JA+j7nZrSl+M8qaOvW0b9fJfrzQuBo4L+l
tjM4P48FPo3OnWb0LP5+Yu9uGRzU93kY3TyuA3BAbzaoZrxrRj3ZEjgAzcDEDgTOAR5Mu3EJWhXY
oISf3w4FacegQd4fAvcm2XGNjEEzhmMqeI3VKvi3k6LfXw2TKvnHQcdpW+CrwP70dchWphnNymyF
3tdfoGyGRAWzP4ej4GNrimcxB9OEBiM2ib4OBa5HHdYb29qm91QpOBiBgsY4qF88jLbmXvQZtQJ7
ow7421DmxFCa0LmzbvS1OxqEub0K7VsV+CgKDt7E8M6hccBm0ddhwFXoHLqtrW16tbIvWlH2ydr9
vv9RFEguSfj3rRO99ob9vl/J/W4wkwb5HUPZD+gE7gfOBS5qa5u+sIYz5KDBqe36/fX7gKureB/p
bxR67yb1+/6JaFD8pQpeewLKeIpVmlF2P8rgOiD43ieBO9CASKm2AD5F37nzItGASprZT+6cy/+A
j+OA3swaQNAxeDfFAT30zTqGP9eoJgAfAP4EvB0y+Z5UkrqfScF7/Hb03n+A4oC+B6VjPocy7Gai
GbOlJJ91MKBtUfs2QQMGZ6DOdRiMFdBM0AtR+55BqdJL+73cGHSt/Rk4DhhTo/Orqu9R2oLPaHXg
e8Af0fvcP6BfitJln0Gf07PA6wzMUmoiwessaN9WwG9QQL4FA1PbF6AZ+fgcehWl+IbGAQcDf0ED
AyNrfI/aC9glyfcmsj8adM6qUdFxnwP8FFijhu/7NJTV0d/eFAfCadkDDXQ2Z+h5uRD4OcUDvPsD
u5XyIkFmzUcpHhD/E4olU+WZergVpWDcCw7ozaxhTKF41DpOvwfN1p9HtLa+Dl0J3EnxwPaI6D3Z
FHW2pwR/txnquLUDj1WxXY8Af2P4QVczcHMFv+924P9W8vsKKL3zQ/Stb3wdpVwuWsnrNqFnayW2
Ac5EwU5sHvAflA49A6VHL0OziONRavB2QBvqWCY64BF0ULdBM3R79PuR+cBN6Py6FwXyS9DnNB7N
Pu4K7IvSZ0dF/y4OPlcDTm5rm764kda6Jyn4jDYCTkMd9/A6X4iu/WuAu9HAy3x0/xuFUonXQcso
3grshO6LiZxLQft2RefQDv1+ZA7K3vgP8AAK5JdEbZiAMi7ejM6h7dC5D6oN8BN0nZ7S1jZ9WY3O
oVVRtsrNCWYJTAaOIJ1skqvQfTE8Z1rQebE+sDnK3ojjp1FoUnAE0FmtpT5QdO68JWoHaPAnHnRa
H3gH8FgVsspK0YQGmK5GGUipzl5ff/118Xt3Hfp8D4n+ajX02d3e1ja9lPom26DzM/YMWhaSeo2S
Rg/qr0HplY+AA3ozayi7o9Rm0IzV/cDOqDOzPep0/iftB3KVXAb8LD6uoLMUp7Zug2ZOD6XvObkN
Stf7chXfkwfQVqpVT5+MXv9mVjIoEL0v01AAEQf1r6IA9LUqrlMfBXyZ4pm6x9Ha1yuIZiv7//62
tun3o4D6THT+vhut+03SRmh2Lgzoe1CH8SfAjaygBkNb2/QHgX8DZ6GBs+PRABJo/fQXUID54xqm
0NaN4DreAAXM7wj+uht9RmcANxDN2A32Hre1Tb8H+Du6F+yIZsIXJtjULdH63jCg70Lnxiko1X9F
5/gDwD+j42hH58wm0V+PA76GBr/OaWubXs2CXfNQ9kwLmjU+C601L1u/DJ149n8hugePLuc1y/BP
4PTwfQtmZ0eiwZP90HLd+P7UhIK8O9D7Xs1nZivwXvoGBJ9Cz+yNonYcjLI/kjxfh2seWl7UijIA
T0DPtNRrd0SB/WI0WbEPGiADTWz8ErhlqM8tKLT5cTSwE/sdFZ77SWnUoL6ALtxjUSVaB/Rm1hCC
B9PB9K3lfhW4GK0LHos6awejkfahCgjlXvAgLwAL29qm34rqrAC8P/jRfVGn+5W021xjTUP8OWlx
TYPYHOCLwOWw4jWLwSDNEhS43UJC529QkfnbaKYsthwFkCczRNGsoH2zUYHEO1AGSBx8jkJFpmYA
f6/TAbVqWxXVwAgD+gVo1v50YDasfN1r8HeL2tqm34SyTipeshCsof8+GiyILYna92OG2HkkOIde
QwMDt0fHFZ+TY4GT0P3r2iqeQ0+i9cSrogDnUOChBH7fWJQZFAfxj6ElYbUK6geIjqcALGtrm/40
GtS7CS2/eXP0Y63AJ4C/omJ61bIZWvIQ+y+6b8Sp4Lugc+vGFN6qe1FGw/bRn98BfAw4LUP3shvQ
wO/7oj/Hs/V3MLwB4B1QHYvYY8BvIRu7BZWzpj7va7F60dqjDhzQm1lj2hitv4vdi9K+nwm+9w6U
zteo5qLO27zge2szsFCUJW8Xipc/XIfSkYfVcbr++uvir67rr7+u4hnvYAbxMPo6g6AZ+rNQYajX
4t87nPZFZqC+yE3BX09GhQHXrM5bW5+C2dSjUIAZW4Bmr08GZg/3M4pFP99d6XkUnEMfo3g99HIU
zH8HmFvGOXQP8Bm0lCA2DZ1Dk4d8ofLF9Sxi7WjZQqXvz5vR8hnQ9XU3GYo7gvc9zqqaHfz1VihD
KHHB+7Mvfc+gLjRBeSV9g5cTURZQGvVf5qB163HdhxFo8nSHlNozmCVotj58rh9IlBmyojYG2wh+
gr57cwFlRTye9kHFygnq81yUpweNqHSidVQO6M2sYQQPrH3oC9h7UUrzE2hmPrZR9HNZeRjXTNBx
e4zoWREZidZGW3X1H0yawcACYbW2Fkq5HRV87x9oKcKiUgO+4OefQgHYi8Ff74qKAzbctVeO4D3a
BX1G8VrsHjQDfi5QyprZatkYBeBhluxFKKgveQ18v8Ghr6F6F7G9ULZVtc6h+Wjtf2xLKi+wOgJt
tTgx+vNMlImQ2iz9YIL3vf/ypVFEGRhVes8nEQXskSfQTP2NFA/I70cFAywVGIUmTS8PvrcBWko1
nF0nqir43G5CS11iq9NXF2GAfnUwDgn+6kG0zWMmZumh9KC+ifxug9KFbuxfAF69+MxzHdCbWSOK
U+vjAdpngWuj//8HfWvxmtHavbFpNzhFyyiuWN7NwArmlryR/f6c2mRC0KE7gOItpF5AAf3sUl8z
FnQEb0Hp+LFmVHxs9bSOO4dGoOJcawXfuwqlpqca0Afn0KEofTr2BPADKlj/HBzXNajKf6wVpbFP
KPU1h6kZpZq/Fv25BZ2zE8t+RdV4CZfd/BNlBIwq7+Wqbikquhhan+oV6NyF4joMV6PBwGeIdu+K
bEqUol/jQcFmNNjzQ9SviB1MlLKekUHKpQwsBHwgqim0IiPRFnZToz/3ouJ4M9M+mFCjbGm3DI3W
fhWY42DezBrYjhSnCN5AXxrlXcB9wd/txsC9cBvJKhR3il+nuuslTfoHyluR7mzdODTAFU5q/Bld
LxXN0gTrdf+AApjYNkTrdTPSEc66rVFhxNh8VK+g7EGXhK2K9hYPXUhUYCuBc6g7er3Xgr/aiYHV
9ZPSipZtXRV8bzfKCCaDn30/fanNc9AgRRPZrv/1Yr8/T6A6sVVcBC/e2nMRGoQHBZiX0zfg3Ipm
lNMYDGlG98Uz6FujPhrVRNkU0r2f9cuyuCL4q6nAkcCIFbRvD4qzJO5BWTaZmaWHxgjqF6HR9G8D
CxzQm1kj6jfjGM+mLEOdgZ7oz3MoftBNjn6+oQKL4Fi3pnjm727gpbTb1wAeQtl1sb2A6ZDaebgp
xcHR6yjNNMm1vo9SnMo7mr61xbYCwfnwLorrENxIVKsgI53urejb6QAUDP414fY9gAp+xSYAb+v3
PiVpMcXbW45FVeDLCSY3oTi1+Vo0C95Kvpb9Vmv9f7xdXewBokHFSFjcFVQ4cathvG7S4s/qAoqX
822FMqVHlvyKCYuut2Votj4c9DuIfssnov+ORstm4hoV3ahi/ovD+X21VO9B/XzgGygVZHGpAf3J
Vz/AyVc/0HTy1Q+sc/LVD4w5+eoH0j4eM7NKrE1xeuOjKPU37Fj+G1XDj70bFV5qNOPROrt4+cFC
NJu6PO2GNYDb0Drh2KrAj9C+4WkE9jugKsmx+9F6yiQDsm6UNRMGBTuQgbWoOTCG4orgBTRYuTjt
gD44V3emODX9TpIvsLWE4qKLoNn6agVSLWgg6r/B9/amhOyA4P15L6o5AJpx/j26JkaQ7aB+jX5/
fo2+QfKKBe/P3vRVuAf4F8UB6asUrxOfSpS5ktJA6Gzg/yjObDuCqEhkRiYJbqEv2wH0WR5JlJEV
tHEvivtNt5P8gFwi6jmofx1tDXMGsLycgD7ShjoT1VqXZJYnWX642tD2At4U/PkqBs48z0Cj/rEt
qO5sT2a0tU2Pj3E14Fv0pcsWUJHVKyF7D/I69ALaeSAsjrc1mhU8BpgUfFZV0y9jI+wv3UWC+0AH
59OD/V53fYp3AbDBTUP3qdgsimes09aEllOE7iDB4o/BOXQ/xXU/NqKyde5DHdcCFIDHmTWroSKP
TSVcn9PifxP9+XaKi/Bl1UgGrsN+pAq/ZyxKvY+X/8xCQT39dku4guJ14gdQPBhZazejavjxQOUE
4CukU8RvMMvRjHtYYPJgirebHItm6cPsxp9TvMwlM+q1+v3LwHHow+quIKDfFzgfPdDrfq9ms2Fo
or4HA+tS1LkahWZDWqNvL0CFiPoHqUvR6HV8zxsZ/bvU0+YSNAYY19Y2fWL0Namtbfoa6F7/SeBi
tBVPK5ot+j1awrXUAX11Be/v71B6ZDjrtR5wCkp9PwRYpQbBfSvajztWIEpzrcK58CLFs2+TSLdT
nhfrUfw+PUdxfYK0jaF4R4cuqncOPYeyVGOTqe7WdqDBzrAWy4FE66dXJrhu90NF8kDX+x/RUrBM
6pd98Zbgr2ajLKOkP9dtgN2DP99BVIuhn3spTsl/49/VekA+Ov5e4GcUZ4/sRrRDRUbW1t9GcbX+
aQSz9WgHoHDZw03xz2exL1Bq8Yk8VL+fCXwOuAwolBnQN6EOw2nAuhTfrMwaWR4G9WxwWxClL0f+
h4q9vOH666+LH/7XAk/Tlw75NlS1uV7WIHWi/cbj87kZjcivjmZGW1Aw/xAaHL4AmFeDh/i2KGWx
MIwOTzNKH/wbZLODUa7oPFyM9oFeivYej9PQR6KO1h5oNu/nwDVtbdMXVel9GEVxiu0yirc5TNJ8
ivdPHoOzBIdjLYp36XiB4sA2bWMo3slgCdWrzTEHDdjGVbrH0VdcrVpeQYUjd0L31A3RQPAP29qm
D3VNTkTb2MXxyAyiweaMWxNtIzg1+N4NKFMiEcEzYH/6MnYKaNB98SD/ZGH0d/tEfx6DPocrSHBJ
QIleQc+0rekbXPoEyhK8dhjnR9VEz5ku9Izfn76BwfdG33sEzdLH189itIva3FQaPAz1NuP2ONrS
5FLKD+hbgA8DZ6OAHhzImFlOBR2Dd1McnFxBcQAReobiLXLWIt31eUnbAFUW3y362gUV8plK38D1
a2hw+AaidNYaHPtmaNnYl4fxdTwqDlaXoo7eXOAkFNQ/RPF687HonPwDyqR4JzCyCp/RKIrXtS9D
QVM1dFHcWW8hY3t0Z9QUivuzr5NeEDOY0RQPOiylr7hc0pajQYNYK7Wpgv434Mngz+9j4HrzN/Rb
rxzOQl8MPF+D9pYsygoagZ4Xv6R4nfUsFDcsSThIXYNoHXrkWbR9YVEwHPz/1RQPOr4dFSGsuX5t
uiD4q9XRbmRZWVp0B3rWx6YB7WiGvi34/rVkfAlePQX1D6CiRv8BSt6DPgroW9GgwGkU34wKVK+i
pZlZtU0hqmIfeYXoXtn/4RSkzYVb5BD9+1XTPpAaWhM4Ab1Pv0NZDs0ZG9So6+dSUKX4QpTS+yMG
Vhweh2ofXIQ61VsmnJI/gr4lK6Bro7vM1xpKL8VV/8GTCsMxtt+fl5CtJZMjKc6M7aH+zqGniLKG
ItsSDTqu5FocDXyIvs/vORTUpxk0TQbWaWubvn7wtUlb2/Rdo7b+AgWA76bvfV0G/IQE6wAE79me
wJbBX91I3xa0g3mM4nT39dCAZyoD8sF2i2dQvDRgOpqxz8IWd/FsfVgg+BBUrT8+NxegWfrEaqlU
Q70E9XeigP5mKDugH4XW4f+AgeuPeqnzzpOZ1bXd6FuzCAO3vxnMrRSv29s+ep16mK2/FdVLuSD4
+g3qlN6KUmN70DNyNTRqfxF6zlRzLeACtCPBI8P4epziysJ1KSgE9RRKdz0Adaxn9fvRiagewqUo
nbc1wc8pfP63UL19s/svcezFuy0MR/++bNYGQvr3H6t9DvUfQKjqORRdnwWUgv9K9O1WVO18Zan/
O6Oq7rHLqU6huVJ0oqD4hn5fVwK/Ruutw60TF6Edts4AehIejGhFqeBxpsVylF6/sgGhLuDv9A3s
NKFBz/EpvZ+xZ1F8FWc5taCip7tAJvoUd1E8KPUmipcr/hvN1Gd2lh7qI6i/EXW07oKyA/qxKBXk
23j9mpnViehB2YI6BvGIcw/qGAxV9O01ogq7kXGoMmw9PDd+hwLATwRfHwcOQwVS90GF8u6hr0M+
Dc0UHwJV64TcEP3uvYfx1Qb8NO03slai4L4HfSbHoJn7X1NcWA5UoOsc4IvAqAQ+p+UUB0Ujqd42
c60Uzzovo3pp2vVkSb8/r0K27lPLKD6HRjEwuyApI9Fa6thSBl9/XQ33U7yt2p7RV9H9Mvr/ZhT0
x5Nos1GBvN6Ug6ZV0fKs9YOvtVDRyv4DbjNQ0bfvk3zaPehe1hb8+TGiycvBflfwvZuAJ4K/2pl+
+6/XUtCuy9Fyqdi6qBp+tWs+DEc38Cv6Bsqb6BscnINm6ZeU8bo1Va2Rwlr5NxpVewLKDugnoGI8
ndRm3ZGZWS1tRPFsyLOoY9DS1jZ9ZR3fHlTM5hjUoQEFnBuw8vS/PCgAXH/9dYV+3+sF5re1TZ9B
X8GmH6P1oaAO3wmoQF01iqXFBbSSnvGpG3G6ZFvb9FuBu1Fgfxxa3xqvP58AfAMFNGe0tU2vJFBY
RnEl7pEUz9QlaQLF248tZOCghQ00B12/cSd8Kvqclpb9islawsACiFPLfK2hTKI4SJrHimunJCYo
OvZ7NIg8IWrHEWiGs/+SgK1QcbLYtRSnZ2dRDzrXHkEB6l9QQdlEZ2+DwHtfird/uw4Ntg+VhfQq
ej/jbR4notn6G9J646LzYznavWRPVDgPdA4cAfwiraJ5QYHgu9H+80f3+5HLWclgSpbkNagvoDSJ
zxFtW1JKQB9sWTcZ+B6ascnre2FmNkDw0N+H4u2UJhKlCg7xEgUUJIXriTdExWN+nmbV2mqLj6ut
bfpMlMW1JeqEAmyH1iheUM/vQdYFncQbUGfswyg9f+3oR8agAZh7gBsr+KyWUly4qxnYHHSNJfz5
r0lx8ahXKd5D2Qb3Igqc49nvddEAXLUqzJdqMcW1IEaiopiXV+EcWoe+QVii92BuDY/1FhQAvTv6
87vQ0q+7oei59D76ilEvQYMBWRiEuRJtcxYOeHejgZEXUDHAJ4l2V6ji/X8iykYKtaHlRUMtL+ml
+JkPGiA4jfS3enwc1R/4GbpHj0Jr129i6CWBVRM9T3rQIHE7fYNuc9BSveV5eNbnMZDtQekbXwJe
qWAP+jXQDMwRDL1Nn9fUm1kercLAlPnJRIVzytAcvd7vaJy04CdRRyoO6lvQTMOv8XMhVcHgy0KU
HjkTdRbXi35kDZRpcgflBwy9DOxs7ogCyETSmoNAZxuK174+Rg1mWevAsyijIQ7q10Gpy1kJ6pej
c+ig4Hu7oAHTrrJesZ/gHNqO4h0THqa2xb0WoefDPmjwYg0UwN8dtHF9FDjF7iAqMpeBwOlfwOlp
tSN4j95ImQ9sE32VI07lvzADM+J/QefHh6K/2gwtl/psW9v0ZTVvWLFnUAp+GNQ/k3Kbhi1La46G
oxs4D83QVxLQr4vW3H2IoQN6cPV7M8un7YFdE37N3VDHse4FHZ/7KC5OtB7eaiwzgkJdV6A9kcNA
6W2UuaVT8PnfTXEAvwMqpJSkVtTpDmfhbqd6VdLryYtoACQ2nmjJUQYKcMXuovi83BUtZUrSGLRF
XKwXnUM1CeKC33EVypCJvRctA4sdiAI56Juom1v1BuZHNYrbjUCfQ6rPregcWYwmVcMtEN9P8aBX
mnIb7+UpqF8GnI6KKsyuIKDfBFXOPYTsVUg1M6tY0JE9kL5UzAJwL1of9o8Svi5HKXOxVaPXzVKH
udrmU7xcYQz5zHSrW0FAcSnFFbQnU/k+zfdTHDSugTJWkrwGNqe42vJrRFtTZWD2MusWoqLJoQPp
W4qRmuCzu4viGb/1idaUJ3gObUe0Q0nkBbSbR63NQkXv4uBoU/rWz6+KCpLG8ccMNBjn87zPuhRn
0y1AW6uW8uy+HO0PH2Zp7Elfxlna7gdOpa+A5CrAlxm4bMBKkJegfjHaCuEbwPwKAvqt0NqIfdM+
IDOzKlsLFQ+LzUUFxQ5BqY/D/Xov8B2KZ5n2o3rFwrJoVYqD+CV4BjWrZlMcPLVQvMa4HK+goomh
D9JXiKpsQSXwD1NcFOu/FG8paYMIAsEr0EBIbFu0vDIrg4/PocAs1gR8jARm66Pja0Xbra0W/NW1
FM+GVl3wefwdbc8ZH+v70MzzHhSnlf+F4poVDSs4T/emeCDyOvT+lfLcjr/C4nhTgff0+101F5wj
vyMa0InshIqWg7JMrESlzjQ0UfuBgAXAd1Fhp2UVBPQ7o5T7XcpoQ25TMcwS1owzXDIteFjvRV+K
Iygd8n9A9/XXXzfsgDR6vevQTGU8yr959Pp/qudiccF7uRPFS7WeJxtFnWygcCsi0PO77H26g3Wg
F6HAO16vvwmq7XNMW9v0xeVcA8H5NR34aPBXi4HfkoMtlDLkXhQgxO9jMwoQbgH+m+Z9KjqHelEx
uPfRt153W7Sc9MttbdPLKsQVnEPvRjPgsbnAhSS0Zr8Mz6BK4idGf94BLYU5gL7aBzOBS+L3yABl
gR1M3/OmF828zy/lPYrOi+Uoc2nf4PX2R3VHXhv2i1VBdE3MRxO2O9M3oHkkuo79fC1DOQF6LYP6
2Sjd/qdUFtC/Fe0/WE5AD7qoPGpkNrDDbNk0Es2wh5Xr/4UGScvxAqoKHL7+wdF/693mFFchLqDq
yB7sTVhb2/T4qyX+/zJMQbs0xJZSXHm8XA8wsDjiEcCxDL3F1KDHGtkSdWzDLc7+STSr62Bn2LpQ
sBJ+1uuiLbS2hEzM2N9B8T7doN2XPoW2GC3pxfoNOn6P4oyUS0hp+Ubw+y6i7/MYBxyFdk+J/YPi
pTKmrd72CP78HGVsRRd8BtcQbbvX//UzcD2Aaj6cRd/ytsko7hvP0Dv0WD/lBOi16si8AnwerX/v
qiCgfxdKuS+3YqSZWd5sQfH63JfR+rqSO3j90inDStxvI9raq94EAeXaqLMcFkV7HHWUHHBVRxMq
Yvs2Sgh0gp87iOLPaybFNSFKFhTiO5fiDvYoNBP5JWCV4Q5EBD+zCyr+u3Pw10+gIL9RdpeoWHAd
3oFqL4Wz07uhSZ09gKZSAplgkGliW9v0sZUEQVEbe6L23Rn81TiUjfpZYHSJ53sTuk7Oo3it9ANo
27CyM1QS8hDFy1b2pW/AbTZad+8JM4ruCftTvITiJuCpCl56JtHzKhJnAqReEya4bn+JlorE9ora
mFaWSW5ldU3982gbmguBnjID+iY0U/ULVKTDzKyu9UvFnBb81e30rW8s1/8ormi8ZvR7sjLiX5Fw
lhjNmh4K/Ak9R2JdKLCr6TrVBlNAA1KXoMDkzW1t08etKGAOvj8KzZx/jeIMlb+TzEw9aIu0ExhY
af0bKLDahZXM2kdtbULX5nHAnymelXs9av894EGjUgQDLz9DfcdwAmo39F5/BVivrW36SoP76HNq
Rve4D0evt2VCTX0masezwfdWRQM55wDbxZkqK2lbE8pC+ApK6d8h+JH4HH0keF9qLvq93RRXtm+h
L9PvGqK9632ev2F1ojXvkS6UzdBdwXvUC1xG8e4dbwc2TvtgA68D3wdejf48Cu0E0giZgIlKfaRm
EE+idVD/AigzoG8GDkcdgmklvYCZWb5NRusWY/GavErXqM1HAVLY2zwA+DnayzVPDgbWjTruodGo
I785GgweE/xdL/AbNKtQrY7oNqhzUyhhoKQXDT7cX2ed49XQeuOPoCD3ZuB/bW3TZ6JzsRt1+iaj
gGt/lJkXbgN1FxrYrzjDMFhbfzuaVT2HvgmDUcAH0LVxFXB1W9v0h9BsZBfqa01As5S7R+3ciuI+
2CwUpF0c/74qmgZ8HVgcBYjDsQwNXDyf1fMs+owWAF9Fn8nh9E1erQOcjM6n/6B19k+ggLMbBZxj
UGC1KRqg2RPVJVmKtkpMon2gGiXHolpRcY2GMWg98TvRUqdr29qmP4zurd3oXJmIgrE90Tm0GcW1
Pl4EvkDUf87I53Q72oP+4OB7S9BgxNKMtDFVwb2+f3X6J1BNiLL0u2fdD7w5+qt1UdbEo2nXxAna
eCO6V38NDfxkMT7NvKy9aTPQw/J6KDugHwF8HHWMpiTULu9Tb2aZFnQM+u8j/yzRPbXch3fw4P0P
yqSKi9psjzoK/0r7+Ev0Toq3DBrKYhTQfAdYUMVO0OaUvqShG7gPddrq0WRgn+hrOaoLsYC+oH4C
CuRb+v27GWgJ39OQTIATXAdXo+DwR6gjHgeOa6ClA4dHbZwXtbk1auN4Bp99egh1Zi8HemvQyV4N
BZWlWIAGB/NQqfzV6PheBDroG+hpQUuTtgCOpu9c6or+bizaWmsMxZmsiRXtCs6hy9Dg1I/Qmvh4
cGVt1If9SNS2+egcGknfOdTa72ULKJPqq2hQqZChYDkO4Pelb4/02yljnXidG2wf+etI5nqbja7d
OKhvQnViLkDnV6qCQpLnoIHRPdNuU15lKf3+HjRKeT2UHdCPRDfyH5NcQA+aCXFQb2ZZ14K2rBsb
fO8mirf4qsTjRPfoyFjUEWmuhxT8QSxFW4t9AqW0zs5QZ7mePUVxumhsJHq2b4Cqz6+HioOFAf0i
tE3W4Wh2P9GZqOC1bkOz899DA2dhHyHeRm99NOu7QdTu/gH9q6gjewgK8moR0Ne166+/Lv6MZgMn
oeD4BpRpEGpFA0bro3NpQzQoM47ivnEXWqM+K8k2Rq5D246dgtLmQyNQWn58Dq0ftbd/QP8i2u/7
UDTompmAPmjHtShrBlRXIEzJN9mU4iy4xageQUWxR78tH18J/moXoloeGXp2v4QyYvKW+ZcZWZmp
/y8aNb0fyg7ox6BiNV+huEObBFf7NrM8mIoCiKfo27XjryS3p3oXCph2QYFLM32d4ZcqeN1qm4Nm
bIeqpltAM0svo9nT61D64+tQlXTWJWjJ2RjK67w1oc+23F0NhqMHFVuK18M+S/WrEp+Oip7ti2aX
NkQBzSgGPo97UAf4eRRoX4IGnhZVK7iJX7etbfqLwLfQ8oeDUUr05igYax3kn3aj2fvHUaDzN5Rl
0VXlQKwbfYbNlFeYrAlYyMDAOLOi2b94S68bUabHQejetRYDZ+PD92oh2vHjHpSFdC3FAVEi7QOI
lpOcgPbsPiRq55vQoNBgffQuFBA/hmblL0X3qkrWXQ9HFxocXha9by8z/HvWbDQrvBa6310RvgdD
WITS0Fui9yOxwZXIHPqel03UeLAhCKi3R+9tfKwPExVUTOhzfRjN1r8d3TNbUIbItRW85rLovZsY
vd5LlFn4sF824LnA+4PXaqZ2gX4P2nFgAjq/Z5Jc/6nqshDUX41S7h+DsgP68WhE9jj00Dcza0Sv
o32a485qL1EnqNKOQfDQ/TeadQl/x+tpH/gQfotmQofSizoqi9EsfbVnvR5AgWslA8cF1Gmultmo
WFjcX+iiSh2s4L1e1NY2/WpUTGs8CgbWQ2tBV0cD9z1oMONlFGw8gwKvnlrNVEa/p7etbfoMlO5/
JhpU2zhq6yQ0O9+FgvnnUSf46ejPtZpVfQ0tC6ikz/fGvSQvgsB5Ntpe7W+onsDGaKBoKpqZB133
89D59Gz0NYuoQ1/lAaKetrbp8RKaU6O2bYyWOU1EA0TLUcD5PAqMnyFKna7ROfQ88D76smIWM4zB
veC58QdUK2AZpT0vbgb2pu8euTDh4/oj0SBDZG7Crz9c/yLagjCylGSfq0uB49HyktiSCl/zcVRX
J+4LLKWCivXRudKFal+cTfFzcV55r1qyuSgzL86q6kb3z1wYdkeivbMDFDD/lajicYUKaP3YcUSp
oWUG9KuiE+BTDD4ynoRbUMdrwUn7eGc8a0zR9bYBmgVbP+321NgngfN9/ZuZmZlZ1qQ1U9+Lthc5
nmirmTID+qmoyMiHGFgkJ+n2ei9NMzMzMzMzy5Q0gvputC3QCcCsMoN5UFrSaag4iNe8m5mZmZmZ
WcOpdfX75ajS6/FUFtBvjPZGbscBvVktNeNrzszMzMwsM2o5U78Uzax/H1hYQUC/JSqg0FbDtpuZ
NOGg3szMzMwsM2oV1C9CwfypwNIKAvod0Uz/bjVqt5mZmZmZmVlm1SKonwd8E/gZsLyCgH5PFNBv
W8P3J9aM9jTtDdpj1mh6gdF4pt7MzMzMLDOqHdTPAr4K/BroriCgfwdwFvCm2r49b9gKbeU35J6c
ZnWsgPaHXj3thpiZmZmZmVQzqH8JFcT7E9BbZkDfBBwInE66+2JPBN6a4u83MzMzMzMzG6BaQf1M
4Djg70ChzIC+GXg/cAqwZnpvkZmZmZmZmVk2VWNLu8eATwGXUX5APwL4BHAGDujNzMzMzMzMBpV0
UP8ACsavAigzoB8JHAP8GFgt7TfIzMzMzMzMLKuSTL+/EzgKuBvKDujHAF9AxfXGpf3mmJmZmZmZ
mWVZUkH9jcDRwENQdkC/CvA14HNo2ywzMzMzMzMzW4kkgvorUbr8E1BaQB9sWTcJ+C7wGaA17TfF
zMzMzMzMLA8qCeoLwKWoyv1zUHZAvzrwQ+AjQEvab4iZmZmZmZlZXpRTKK8p+u/vUcp9JQH92sBZ
wEdxQG9mZmZmZmZWknJm6ruB84GvAK9D2QH9hmjLuv3TfhPMzMzMzMzM8qjUoL4A/AK4BZhdZkE8
gM2Bs4G3p/0GmJmZmZmZmeVVqUH9cuCfQKGCgH4H4BzgzWkfvJmZmZmZmVmeDTuoD4L4Qqm/JAjo
d0cB/fZpH7iZmZmZmZlZ3pVTKK8kQUC/N/ArHNCbmZmZmZmZJaKqQX0U0DcBBwDnobX0ZmZmZmZm
ZpaAqgX1UUDfDBwGnIuq3ZuZ5U0B1RMxMzMzM8ucqgT1UUDfAnwMOBNYK+0DNTMrUzewMO1GmJmZ
mZkNJvGgPgroW4HPAqcAq6d9kGZmFVgOzEm7EWZmZmZmgyl1S7uVigL60cDngROBVdI+QDOzCi0G
ZqXdCDMzMzOzwSQW1EcB/SrAV4EvoODezCzvZgGvp90IMzMzM7PBJBLURwH9JOBbwFHAyLQPzMws
Ic8Bc9NuhJmZmZnZYCoO6qOAfjXgB8BHk3hNM7MMmQEsSbsRZmZmZmaDKTsAj4J5UGX7U9DWdVXd
997MrMZ6gLsBTtpnm7TbYmZmZmY2QFlBfRDQbwCcDhwANKV9MGZmCZsF3Jd2I8zMzMzMVqTkoD4I
6DcHzgL2TvsgzMyq5EHgqbQbYWZmZma2IuWmyzcDn8MBvZnVt2uARWk3wszMzMxsRcoN6nuBh4BC
2gdgZlYlrwFXgdfTm5mZmVl2lRzUB53bK4GZaR+AmVmV3IzS783MzMzMMquSavVPAP9M+wDMzKpg
GfBnYKln6c3MzMwsy8oK6qNObi/wB1Qd2sysntwJXJ12I8zMzMzMhlLpvvJ3An9P+yDMzBLUBfwK
eD3thpiZmZmZDaXSoL4L+DnwUtoHYmaWkJuAy8AF8szMzMws+8oO6oPO7l3Ab9I+EDOzBMwHfgrM
TrshZmZmZmbDUdFMfbC2/mfA3WkfjJlZhf6IdvbwLL2ZmZmZ5UKl6fexZ4HvA/PSPiAzszLdD5wC
LHdAb2ZmZmZ5UXFQH3R+Lwd+ARTSPigzsxLNBb4NPJ52Q8zMzMzMSpHITH0U2HcBPwH+lfZBmZmV
oBs4nWgnD8/Sm5mZmVmeJJV+H3sV+ApwX9oHZmY2TH8ETgO6HdCbmZmZWd40JfliJ1/9QPy/bWif
5w3TPkAzs5X4N/Ap4HkH9GZmZmaWR4nO1Aed4uuBY4Hn0j5AM7MVuAHdp55PuyFmZmZmZuVKOv0+
DOz/ARyDKuObmWXJdcBniArjeZbezMzMzPIq8aAeijrIfwc+CTyS9oGamaHdOS5H96VHwQG9mZmZ
meVbVYJ6KOooXwV8CLgp7YM1s4a2DDgPraF/ChzQm5mZmVn+JVoobzBB8bz1gG8CRwCj0z5wM2so
rwI/BH4OLHIwb2ZmZmb1oupBPRQF9uOAjwJfBtZP++DNrO71ArcC3wKuBXod0JuZmZlZPalJUB+L
gvsmYAfgBGB/YEzab4KZ1aVXgV8CZwMvgtPtzczMzKz+1DSohwGz9gehLaV2Akak/WaYWV1YBFwB
nIFm6XsczJuZmZlZvap5UB8Lgvs1gPcBRwLb4uDezMqzELgeFcO7GljsYN7MzMzM6l1qQX0sCO6n
Ae8BPgDsCkxIu21mlnkF4GUUxP8B7bKxCJxqb2ZmZmaNIfWgPhYE9+NROv7+wN7ApihV38wMFMjP
Bu4D/gVcCTwCdDmQNzMzM7NGk5mgPhQU1FsNpeS/Bc3eb47S9ccAzWm308xqogeYDzwPPAjcgtbK
P4pS7j0rb2ZmZmYNK5NBfSiYwR+NAvoNgU2AjYD1gNWBSWg2fxQO9s3yqhtYCiwA5qC0+pnAE8CT
0f/Pjn7OgbyZmZmZGTkI6gcTBPrNwEgU8I8EWvJ6TGZGLwrYl6Pgfjk4eDczMzMzMzMzMzMzMzMz
MzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMz
MzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMz
MzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzM7O8+n+npHT8
hEC2xAAAACV0RVh0ZGF0ZTpjcmVhdGUAMjAxOS0wMy0yMVQxNDozMDozMiswMzowMMLhzjUAAAAl
dEVYdGRhdGU6bW9kaWZ5ADIwMTktMDMtMjFUMTQ6MzA6MzIrMDM6MDCzvHaJAAAAAElFTkSuQmCC" />
</svg>
</a>
      {{ end }}
      </ul>
    </section>
    {{ end }}
    <section id="footer">
      {{ partial "menu-footer.html" . }}
    </section>
  </div>
</nav>

<!-- templates -->
{{ define "section-tree-nav" }}
{{ $showvisitedlinks := .showvisitedlinks }}
{{ $currentNode := .currentnode }}
 {{with .sect}}
  {{if .IsSection}}
    {{safeHTML .Params.head}}
    <li data-nav-id="{{.URL}}" title="{{.Title}}" class="dd-item 
        {{if .IsAncestor $currentNode }}parent{{end}}
        {{if eq .UniqueID $currentNode.UniqueID}}active{{end}}
        {{if .Params.alwaysopen}}parent{{end}}
        ">
      <a href="{{.RelPermalink}}">
          {{safeHTML .Params.Pre}}{{or .Params.menuTitle .LinkTitle .Title}}{{safeHTML .Params.Post}}
          {{ if $showvisitedlinks}}
            <i class="fas fa-check read-icon"></i>
          {{ end }}
      </a>
      {{ $numberOfPages := (add (len .Pages) (len .Sections)) }}
      {{ if ne $numberOfPages 0 }}
        <ul>
          {{ $currentNode.Scratch.Set "pages" .Pages }}
          {{ if .Sections}}
            {{ $currentNode.Scratch.Set "pages" (.Pages | union .Sections) }}
          {{end}}
          {{ $pages := ($currentNode.Scratch.Get "pages") }}
          
        {{if eq .Site.Params.ordersectionsby "title"}}  
          {{ range $pages.ByTitle }}
            {{ if and .Params.hidden (not $.showhidden) }} 
            {{else}}
            {{ template "section-tree-nav" dict "sect" . "currentnode" $currentNode "showvisitedlinks" $showvisitedlinks }}
            {{end}}
          {{ end }}
        {{else}}
          {{ range $pages.ByWeight }}
            {{ if and .Params.hidden (not $.showhidden) }} 
            {{else}}
            {{ template "section-tree-nav" dict "sect" . "currentnode" $currentNode "showvisitedlinks" $showvisitedlinks }}
            {{end}}
          {{ end }}
        {{end}}
        </ul>
      {{ end }}        
    </li>
  {{else}}
    {{ if not .Params.Hidden }}
      <li data-nav-id="{{.URL}}" title="{{.Title}}" class="dd-item {{if eq .UniqueID $currentNode.UniqueID}}active{{end}}">
        <a href="{{ .RelPermalink}}">
        {{safeHTML .Params.Pre}}{{or .Params.menuTitle .LinkTitle .Title}}{{safeHTML .Params.Post}}
        {{ if $showvisitedlinks}}<i class="fas fa-check read-icon"></i>{{end}}
        </a>
    </li>
     {{ end }}
  {{end}}
 {{ end }}
{{ end }}

