<a href="{{ .Site.BaseURL }}">
  <svg version="1.1" id="amandalogo" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="198px" height="63px" viewBox="0 0 198 63" enable-background="new 0 0 198 63" xml:space="preserve">  <image id="image0" width="198" height="63" x="0" y="0"
    xlink:href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAMYAAAA/CAQAAAARD38HAAAABGdBTUEAALGPC/xhBQAAAAJiS0dE
AP+Hj8y/AAAQ5UlEQVR42u2ceWCV1ZmHn3uzEWJkDSBJEIKKLIKyuiHuilvRVmuro+20VetY69Kp
U622am2xtVMdx1pbtyoFceuIqHXFulRBUNCCWCBsCrIEMoFAIMszf9wvX757c28SEGjt5PdPzjn3
rO973uW853yBdrSjHe1oRzva8blDbEcbCBAnmxhSR8NOdNGODGgjJQXIYR8GMJAyerI32dTxv6yh
nIV8xGpq29nyWdEG+gkxSjiW8YykmA7NKmxlFbN5jlf4GNsZstsgxjzAm/zQWltGrQu8yf2N+fee
9D8jROzm91xsg21Dg4u82m7SzpBdChHH+HyrEtFcQp53TDs7diHEbM932Q4yohHLPM/s/1/sEOMO
dIIjzNmlKxdzvcLKnWSF6kavMHfHJyVigV3N+3zJlognWm6da/3GLpy7mO1VVn8GVqhu9qodlQ6x
0Muc4Vz/xzM+T7Il5vhYsPJZdt1FMxfxa/7vZ2SFaqUX7MgeEXOcGNqojZ7/+ZEOsbvzgpmvcdAu
mbeIR7lyF7BCdYVHtp2g4nFujLT+wD6fI2YUuyjcRiN3bt7xZiW9uImSVkbewjo+pYKtrVC6lJvo
2dblkMVX6RwpGsTxfG5kI4LYzoYislMIEuNijspYu4GVvM6bLGQ9teRRxGCO4sgWCH40F3GzbZtd
X45Jysc5lUls32NE/MeCeLArMiqdZV7v/mY3KR4Tftch3uG6jK2WO7R1VSXit6xXtc6tQdtPHGxy
rWx72MlE/Wy7W2zXphmJcTvZ2552SDemmO0+DnaQRcaDPjo3eW4i5tvJLBOxhwKL3dce5jbvTcS9
HOJxHuMAcyNqqtJRJtfr4L4e5AHhzDvYqRX3RIx7RwaSNvish6QPdYhZHufbGdnxq9ZDJGIHnwrq
f+Tvw7aXJ7F+b291gW96ljme5CTnuci5TvZM88W4Y7zTmS5ygc96sV2iJBRzPN7f+6FrXeP7/tRi
S7zLOT7hIQGRcKzPONvbLLK31/qqi1zmfJ/0fAtTCLyXF/qya93qFj9xime7OJUZJuZ8gdNd6jpX
+YaXWOCh/tE53mEPWyTIgRmOeQ1Otmfm/S1imc9kYMZSB7SBGcNdG9S/1+PcFKSfs2NkYf/i9kDa
7nZ9ZIRq/8sefttVkbJaH7FnEiNvSXIP9GWfDlJPJiTJLr6mar1TnZEUBNrm/XaLzKSXD1iT1NuG
MB8wQ8T+Pua2SK0aJzk3SF+TkaIiXpmBnC/a29aIiWX+JUP7K1pWVCJeGxLxXDs7O8itc0SEBL/N
KH3bfDPNIfXnxgOy5Hu7dRlbL7dMxJEp7ErekDclJFzs7B/MjEpHBXLWx5daqDc947FY7OgLaRut
9ogUgcdcOyf0XpL9ONENaXt4vnF/Zxy7s28EdZfYT7w9bPuDxBhitn90x7DSQQFZLgrtUDpUeLCI
J6Ts9mQsdf+gt2taYGwTM/Ja2Dyqb0VVHyR7U2UMTUurKbzVePEhQE/O4kT6UM8ipvGcVQlvTpjB
NC5M08NQ+jG/RdEawbAg9SYrgFe4hDwATuYuqgCIkRVpMZunifMlBkfK5vNHavgCo4J8MaNZAOzL
5eE9jKzmYzrTj5ywXTxw8XMirn4lU3mPIr7MkKCklNEsAg7gonAm23ideXTneIqbrekYzg3TdSyj
gmKKI45lVpqDRbivvxp4M8lY7+gkb2O0r0X2RY2P2i/cuzg+bRilznMzS4aIvwprnidiiQvDfXZk
0HuO08IeP3SgiEdHbMfHHiriQZaHZT8T8eJwZQ1OdYiFFvtDN4e1NjpcxFMCm6R6Q+BTHebqsOxH
In43zG/3x+4lxh3n31IkI8sHw5Jqb7TUQgc6KWKJZrm3GQny07TC9KIFEVU00Pea1XgqYtp6hOYp
Gbe0aP6L/WtQrzzQ3nEfSG6bwoz/tjGoOCMseyyhNs1yUlK9LKeE+XcttVHR/qYFZqzxoGAL5IZm
Xu8Qs308zL9s53AbXhYyPMGM3n4Y1nvAvKBeb2dmZkaToGRRlpZWc6huJBrZXMHBzWqcynnhSXk9
76ftpV8GkUy0O4IDguwbLIcYNPAi9UHZCXRr1qw8+LuFj8OypdQBUM/KsCwGFLJfmJ/OyuCIvJ3H
2JJRXCtYG6S2syyJWoX0C/PPU9k4CK+ELRIoZp8gVcOjbAvSq3gq45gRm5FHr7Q1/ha5KC9jfJoa
WZzNg4Feb8hgG3qRx9aMczgj1N89uIa4ICXUBpp5ECN4IaVNDQkrZbjMpjKoCcsEOtIpzC2OrGYF
lXTMMKft1Eb7jSCfwiDVEGycBCrYmETBzoHNg02sSNSLISyiPsn2pWVGLnul+b2Oikhu/wyBj/3o
TVUw2LK0gxW2wIz+jA3TJ3FSs98LOKUZM1pGqkaMZfxlxxHVt8lRntRcLGzRRkTVVG6a3xsiOwQK
kmNZIfLID9NrInu1CTnpd4MAx1PayiyPDUV+Z1DD5pBAZRHaFLP3TvRWzcaQdv0jvfVMUaZVYVSt
sNHTEqAsk1xEmdEQaNxkZCUJ8roUkW0auDJMV6TVxPU0ZJhBR05vNY54AGN2gmyN2MTyMH1yQraF
LCak1QWtYTN/C9On0CPoDU6hKKneatYHqXwm0BiJKuK0zF03MaM2rRrJojjC/Q9ZnLaXd1kVptOT
vTpj9PWg8FSQGXmcmskBaANqeTNMj+ZGSs2lExenPRG1jgZmhK7FGG6glzE6cBaXpdRbzdwwfR6X
0tkcivkRh2XuukntbAs5mYzooepTHuLWZmJWxQMR1ZQ+ml+RjhkCjKdrkH2P34XLTCz7aM4L0uMo
jfhNrSGWknqO7wSqMM43GcdSujI0olp3DC/wQeBTZnEJY1lAV0Yn3cQAbOcJTg1U/95M5HzW0ZcB
SdRLoVQTM2ojwhzFKIpYl2gp3McwzkvapTX8J3+K9BtPy4zlSbanCYUcG6Yf5e4UW7uQ0wO93pdR
LI/IXMup2mgnwHx+z3VB11kcyIEps2g0ynVhH/URs5s6wifczq8D9Z3F0GZxC4N6z/By6H3mp5H/
hlTTHiXrgrTkOpDDI4qqkiu5ldVBQT0fcTU/pzYW7TGdQlmQ4SVpYegOVvByszrzwznlMADYEJJq
Q1inSZ4rIOih6deNAXnu5Gkyo5pNAFSFEl4ZsY5N/mTjWFO5K8PmAtgS9FbJDXzUwqgbU12dgHAx
gPeDs0IyOnBBoxGPEYMKbuAk/o3bmMi/cjJ3szWJhOloXpnhKAibQuXzGn9NM92nwj37MfB2oMZW
8UE41MzA1m1kTthubkDArcwKStZyOY+nuCgvhg7zB4HNK2dRUBL0GgN4J6BLNe8ENKjhZiZGnBaA
WbwepOazKmg5m4t4N6lWDZP4MEi/ndbvBBJPOWebDtV+pa3PCsSRaULZGR6viHiS71vlW45Ie5vW
w4fd4Hp/Z1exm/e43AVenAiNk7jkudVyF3lNY0BazPU/XGS5P2sM5ZiIDF/ia6612ioX+jN7O9Bp
rvB1x4aXSxOc40ofs18kBNTB613sEm82P1Ka44lOcbEbrHC+t9nXAT7pSt/22KRYXj9vcZ4b3OIG
Z3qxBZ7mLFf4SAvPLUT8hemxwGFJwfIc89OzRzzUqmbtJ2Ziphiz2NH2ynBNint5iEMT4wUXmL0a
WRHOptTi6DWmmG2xpclv+4J7tyGO8zCLg2vXvezbdCMoxuxuPwtSrgyyLbEk+aLUxpEPcVhiRmKB
ZakvjcW4PRzh0Q63a3Cd28197djiBhfHZrxceS0RJQ3qFftjizIw44jwlq4RGzzic/jG4+8LMd8n
zYTZnmBWEHssdbEPJfjcrI8jI6HpBJ6ww+5lRrDfGgP5sc/6WYIYd1jj1UBY1tuRrb1yFLHIfT7z
87sgiFyVkR3rvN3h5okllqu/tUsbmFHl+N39MlAc690ODu7XrvOKxLaJ/L6f17nvDjyn28f3ndRE
+kCJL3dgq8zI9SGfzXBTsYOL6hC5C0iHNT7tD/y2q9U670nE85N6ODxFTT20u+UCxBvV6XYXe7vE
uckOg3ip+rUdYMYA1zkjyWDHnGJN4gK6xYuyTs5xuaU7s+bUwF8Nv+TwSMQ+FT04jdOoJw5k8Q0a
+IGVSd7stiQHspxfZohn7VpkA+O5mh+STW7i+tQRnEknXmM6XRgNjGWd+/Io6xlLJ54ll3NYyDsc
wekU8AZPU81wRvIxBzGXBkAO8SgmUUHCp41zBl9lFZNcDhzIl+jA6/TnT5TTi7M4kDW8QMKv7eo4
3mII+/AI9ZzNVqYxjn5UcATlPMn6Vr/hCx6TbbGtqPPXdkrSrIPDJze6xW/ubhUVjHqLWulGz7HU
lc63q+Nc6nqXutnr/b616nYr3O4F5vtnl1rqaKu8zdNdbZ3brPEWs7zTBjdb6dWu9mXH+r7LgmcI
caeotVbb4PMWOcA5aq2brPc7dnWa9VZb72Tfc5kH+6CbPNNnXGaJ3V3gm3b2CevcZK31Ppz6GAGa
vbWNATzMbzPGWFORxbf4KRF2sLnxZpAGfsPDe/Ab2PtYwc0cTD3Ske/SjSv5Iu9yKbO5D7iHK9nO
OMrYn2KGcBj5LOI7dOFqzmIFFzGUAmK8wTm8TIz+3E03/j0pOHoPxzCNEzmNCxjOA0xgHnE68gVO
ZzrHMYH7aaCQiZzNvfyFQjqQSw75dCSPQrJ4gDN4h3M4uvkCmoUugvPl1DZv6Gwu4ic0GayqIBgh
k/kJ2/bg168fcB1F3EIXGujMQPK4mt+xH/nUsQCYzxPMYzTHUMMqjuYolvEhB7KEyTzDK3SnP1LP
7bxADVLKYGbybPgFb4xtTGUWjwPDGUYN9/EMU4E4Q4DHeZunmY105SQWcGuziEaMSu7lOR4jl0Ft
YAYAFVzFo22Wjmwu4Sd0ChTSZlYADUzm6kiMaE8gznTuYBB7I7VsZSsPchPX8kPmkQXEqOZZyvgW
M5nOFxnLDMqpYW+6kUdP6tlCjIYgvpzF+zzHeL5J0xEzlxKgD7CBzeRSQowSQDYDJUAeecSo4FWG
8HWyqSeXAvLJo5YGIJcuQBGEF16tQcTu3tXik65kVHtuGFK42e3euSe/eQ1sxtfFLj6pfmB3b7TW
55zoS86x1O+ql4gjXade5Zesc5tninepr/mYW51tb+93u8eIA1zrS45wgRs8OTjH/EFd4iOu9VNH
+3VrLfdpN6jfd5wbXedkX/LnvutSxznLKr/ir9VnfUqdbIEvqrO8x7WudOgOUEfs6OV+0kYzfm8j
8cWj/HbLLwh3AzMudInHiDjIWU63o9280zVudqnXmeNpfuQJYr4Pu8zRljrbV+0h9nGyG612pseK
3/M9DxCL/LN3GfNMyxOPr8Vr/asvusGFXmjMQm/1U9c4zYWeZcxLXexml3uZT/mWnTzBVd7rwb7i
Zqv9i2PM8SXrXOZWy71wBw+mYtzDndaqfNR7b9NpXIzv6Q/zxXzLzAmIVmKf4GXUAEfaxywx1z7B
7z0cYJbYN3xBVeAwx1gUxKpKgjhTsd3ELPsm/B6x0N4WOtjixGnfXAc40AJLzRPj9nGkfY27v4PF
uAfbX+zqKEdbJOb5khs8zkMti0bX2r5ILPQ8X23hpWq99++yDwr/iSHm+IxrW3+R33In2NkJPuTS
yOPHRjT4sN3bWdE6RPyy17ekwNv+X3WyKWU4oxhEMd0oJhuQKVzBuvb/p9MWCBDbZf/qJvwYYJQr
1AantPj1TTt2P8Ko7dSWvmZqxx6BWOoSn0h/O9eOPQqxxF9Y3M6KfwCIuRa2s6Id7WhHO9rRjna0
A/g/iaUTsM5CKYkAAAAldEVYdGRhdGU6Y3JlYXRlADIwMTktMDMtMjJUMDA6Mzc6NTItMDc6MDDL
F5eTAAAAJXRFWHRkYXRlOm1vZGlmeQAyMDE5LTAzLTIyVDAwOjM3OjUyLTA3OjAwukovLwAAAABJ
RU5ErkJggg==" />
</svg>


</a>
