Source: amanda
Section: utils
Priority: optional
Maintainer: Zmanda Inc <support@zmanda.com>
Build-Depends: debhelper, dump, fakeroot, flex, gnuplot, libtool, mailx, mtx,
	perl (>=5.6.0), smbclient, libcurl-dev, libncurses5-dev,
	libreadline5-dev | libreadline-dev, libssl-dev
Standards-Version: 3.6.1

Package: amanda-backup-server
Architecture: any
Depends: xinetd, perl (>=5.6.0), mailx, gnuplot, tar (>=1.15),
	libcurl3 (>=7.10.0)| libcurl4 (>=7.10.0), libglib2.0-0 (>=2.2.0),
	libssl | libssl0.9.8
Suggests: amanda-backup-client (= ${Source-Version})
Description: Amanda Network Backup and Archiving software
 .
 Amanda is the leading Open-Source Backup and Archiving software.
 .
 This package contains the Amanda server.  The amanda-backup_server package 
 should be installed on the Amanda server, i.e. the machine attached to backup 
 media (such as a tape drive or disk drives) where backups will be written.  The 
 amanda-backup_server package includes Amanda client.
 .
 Amanda Forums are located at: http://forums.zmanda.com/
 Amanda Documentation is available at: http://wiki.zmanda.com/

Package: amanda-backup-client
Architecture: any
Depends: xinetd, perl (>=5.6.0), grep, libcurl3 (>=7.10.0)| libcurl4 (>=7.10.0),
	libglib2.0-0 (>=2.2.0), libssl | libssl0.9.8
Conflicts: amanda-backup-server (>=${Source-Version})
Description: Amanda Network Backup and Archiving software
 .
 Amanda is the leading Open-Source Backup and Archiving software.
 .
 This package contains the Amanda client.  The amanda-backup_client package
 needs to be installed on every system that is being backed up.
 .
 Amanda Forums are located at: http://forums.zmanda.com/
 Amanda Documentation is available at: http://wiki.zmanda.com/
